.ui.button.download:hover
  background: $yellow
  color: $black
.ui.button.download
  margin-top: -45px
  margin-left: 10px

.ui.two.item.menu
  box-shadow: none
  background: none
  .item
    background: none
  .item.active
    background: $green
    color: white
    font-weight: 400


.ui.icon.button + .ui.icon.button
  margin-left: 7px

.ui.labeled.icon.button.bookmark
  background: none
  color: white
  font-weight: 400


.ui.labeled.icon.button.bookmark.active
  background: $green

.ui.dropdown.burger
  .ui.labeled.icon.button
    background: none
    color: white
    font-weight: 400
    padding-left: 45px !important


.ui.two.column.grid.cycle
  margin: 14px

.ui.cycle.button
  background: none
  border: 1px solid rgba(34, 36, 38, 0.1)



@media (min-width: 601px)
  .ui.labeled.icon.button.bookmark
    background: #bbb

  .ui.two.column.grid.cycle
    margin: 0
    .column
      margin: 0
      padding: 0
