img.team
  width: 100%

.ui.top.attached.tabular.menu
  margin-top: 0

.ui.item.menu
  box-shadow: none
  background: none
  .item
    background: none
  .item.active
    color: $bg
    background: $brand-blue
    font-weight: 400

.ui.breadcrumb
  min-height: 62px
  display: block
  line-height: 25px

  .section
    margin-bottom: 5px
    color: $copy
  a
    border-bottom: 2px solid $copy
    &:hover
      color: $brand-blue
      border-bottom: 2px solid $brand-blue

.ui.breadcrumb + .boundary
  margin-top: 24px

.search-advanced
  .inline.fields .field.radio
    width: 50%
    display: inline-block

.ui.input.as
  margin-right: 10px
  margin-bottom: 10px

.ui.input.gate
  display: block
  margin-bottom: 20px

.ui.input.gate + .ui.input.gate
  margin-top: 5px

.ui.info.message
  background: $brand-green
  color: white
  .header
    color: white
    a
      color: white
      border-bottom: 2px solid white
      &:hover
        color: white
        background: $brand-blue

  .ui.button
    background: none
    color: white
    border: 2px solid white

    &:hover
      background: white
      color: $brand-green
  .ui.button + .ui.button
    margin-left: 6px

.ui.info.message,
.ui.attached.info.message
  margin-top: 0
  padding: 1em 1em
  border-radius: 0
  box-shadow: none !important
  border: none !important

  i.close.icon
    font-size: 18px

  .header
    padding: 0 20px 0px 2px
    line-height: 22px
  .button
    margin-top: 30px

.notify
  .ui.info.message

    margin-top: 0
    margin-left: 20px
    padding: 8px 12px
    max-width: 300px
    border-radius: 2px

    i.close.icon
      font-size: 18px
    .header
      font-size: 14px
      padding: 0
      min-width: 170px
      line-height: 20px

    .button
      border: 1px solid rgba(255, 255, 255, 0.5)
      margin: 12px 0 0 0
      width: 65px
      padding: 8px


.ui.search.selection.dropdown
  .ui.avatar.image
    border-radius: 1px
  p.label
    display: inline-block

.product-carousel
  margin: 0
  cursor: e-resize

  button.slick-prev.slick-arrow
    display: none !important

  .slick-dots
    position: static
    li
      margin: 0 8px
      button::before
        font-size: 13px

.wrap
  .notify
    display: none
    position: fixed
    bottom: 20px
    right: 20px
    .ui.button
      background: $brand-green
      color: white

