label.hide
  display: none

.ui.form .field.error .input,
.ui.form .field.error label,
.ui.form .fields.error .field .input,
.ui.form .fields.error .field label
  color: $copy

.ui.dropdown.category
  .menu
    .item
      &:nth-child(9n+1),
      &:nth-child(9n+2),
      &:nth-child(9n+3)
        img.product
          background: #f4c95b
      &:nth-child(9n+4),
      &:nth-child(9n+5),
      &:nth-child(9n+6)
        img.product
          background: $brand-green
      &:nth-child(9n+7),
      &:nth-child(9n+8),
      &:nth-child(9n+9)
        img.product
          background: #5ec5e2


.content
  form.ui.form
    fieldset
      margin: 0
    fieldset:nth-child(1)
      padding: 0


form.ui.form
  margin: 0
  padding: 0

  h2
    font-size: 18px
    display: block
    margin-bottom: 25px

  fieldset
    margin: 15px 0 0 0
    padding: 0
    border: none

    h4
      margin-bottom: 25px
      max-width: 490px

  label
    font-weight: 400 !important
    font-size: 1rem !important
    padding-right: 10px

  label.static
    min-width: 164px
    display: inline-block
    text-align: right

  label.required:after
    content: "*"

  small.support
    display: block
    margin-left: 178px
    margin-top: 5px
    line-height: 14px
    opacity: 0.7

  // input:required:focus
  //   box-shadow: 0 0 3px rgba(255,0,0,0.5)

  .inline.field
    input
      min-width: 250px
    input.block
      display: block !important
      margin-left: 160px
      border-top: 0px
      border-radius: 0
    input.block-first
      border-bottom-left-radius: 0
      border-bottom-right-radius: 0
    input.block:last-child
      border-bottom-left-radius: 0.28571429rem
      border-bottom-right-radius: 0.28571429rem

  .field
    margin: 0em 0em 10px

  .inline.fields .field > :first-child,
  .inline.field > :first-child
    margin: 0

  .inline.fields > label
    margin: 0

  .ui.checkbox + .ui.checkbox
    margin-left: 30px
  .ui.button + .ui.button
    margin-left: 10px

@media (max-width: 780px)
  form.ui.form
    label.static
      text-align: left
      padding: 0 15px 3px 0
      min-width: auto
    small.support
      display: block
      margin-left: 0
    fieldset
      margin: 10px 0
      padding: 10px 0 0 0
      h2
        font-size: 18px
        display: block
        margin-bottom: 30px

    .inline.field
      input:not(.no-stack),
      input.block,
      input.block-first,
      input.block:last-child,
      .ui.search.selection.dropdown
        min-width: 250px
        display: block
        margin: 0
        width: 100%
      .ui.dropdown.salutation
        display: block
        width: 100px
        margin: 0
      .mobile-fields
        display: block

    .inline.fields
      padding: 0
      margin: 0
      width: 100%
      .field.radio
        width: 50%
        display: inline-block
      input[type="radio"]
      label.radio
        display: block
        width: 100%
        margin: 0 0 10px 0
        padding: 0

