body
  padding: 0
  margin: 0
  &.browse
    .tiles
      .ui.card
        .description
          min-height: 40px
        .image
          background: white
  footer
    width: 70%
    margin-top: 80px
    margin-left: 30%
    padding: 20px 30px

  .center
    text-align: center

  .wrap
    max-width: 850px
    margin: auto

    .boundary
      position: relative
      margin-top: 15px

      .grid-half-set
        width: 48%
        display: inline-block

      .grid-half-set:nth-child(1)
        text-align: left
        margin-right: 2%

        .ui.button.icon.button
          padding: 3px 7px 3px 25px !important
          p
            text-align: left

      .grid-half-set:nth-child(2)
        text-align: right
        margin-left: 2%

        .ui.button.icon.button
          padding: 3px 25px 3px 7px !important
          p
            text-align: right

    .product-actions
      position: absolute
      z-index: 2
      top: 10px
      left: 10px

    .product-hero
      width: 100%

  .content
    background: #fcfcfc
    padding: 15px
    border-radius: 5px
    margin-bottom: 20px

  .col-main-right
    width: 70%
    margin-left: 30%
    padding: 15px

  .col-main-left
    float: left
    padding: 15px 0 15px 15px


@media (min-width: 601px)
  body
    footer
      display: none
    .col-main-right
      margin-bottom: 30px

@media (max-width: 600px)
  body
    footer
      padding: 10px
      margin-top: 20px
      border-top: $grey-border 1px solid
      margin: 1em 0
      width: 100%
      float: left
      clear: left

    .col-main-right
      width: 100%
      float: right
      float: left
      clear: none
      margin-left: 0
      // margin-top: 56px
      padding: 10px

    .col-main-left
      width: 100%
      float: left
      clear: left
      margin: 0 0 20px 0



