
a.item.gate
  color: $bg
  font-size: 12px
  display: inline-block
  padding: 7px 5px

a.item.gate + a.item.gate
  margin-left: 9px

ul.details
  list-style: none
  margin: 15px 0 0 0
  padding: 0

ul.social
  margin: 20px 0
  padding: 0
  li
    display: inline
    padding: 5px
  li:first-child
    padding-left: 0

#nav_bar
  ul.details
    font-size: 12px
    line-height: 16px
    margin-top: 40px
    padding: 5px
    opacity: 0.8

  ul.details + ul.details
    margin-top: 10px

  ul.social
    margin: 0
    li
      padding: 1px
