#nav_bar
  &.navbar-fixed
    position: fixed
    top: 0
  a
    color: #333
  .menu
    a
      display: block
      padding: 3px
      border-radius: 2px
    hr
      margin: 5px 0
      background: none
  .item
    &:hover
      background: $active
    &.download
      border: 1px solid $stroke
      padding-left: 7px
      padding-bottom: 5px

.brand
  background: white
  section.menu
    .ui.dropdown.burger
      border-radius: 3px

      &:hover,
      &.active
        background: $active

      .ui.icon.button
        background: none
        border: 1px solid #666
        color: #666
      .menu
        margin: 4px 0 0 0
        .item
          padding: 8px 15px 8px 7px !important
          line-height: 17px
        hr
          margin: 0

  section.profile
    a.item.gate
      color: $copy
      border: 1px solid #666
      border-radius: 3px
      font-size: 12px
      display: inline-block
      padding: 9px 12px

      &:hover
        background: $hover


    a.item.gate + a.item.gate
      margin-left: 5px
    .ui.button + .ui.button
      margin-left: 3px
    .ui.icon.top.right.pointing.dropdown.button
      background: none
      border: 1px solid #666
      color: #666
      &:hover,
      &.active
        background: $active
      .menu
        margin: 4px 0 0 0
        .item
          padding: 8px 15px 8px 7px !important
          line-height: 17px
        hr
          margin: 0
      .menu:after
        display: none

  section.search
    .ui.search.quick
      .ui.icon.input
        width: 100%
        input.prompt
          border-radius: 0
          width: 100%
          padding: 9px 10px


// // Mobile

@media (max-width: 600px)
  .ui.search.quick
    .ui.icon.input
      input.prompt
        padding: 13px 10px
        border-left: 0
        border-right: 0

  #nav_bar
    display: none

  .brand
    section.menu
      width: calc(100%/3)
      text-align: left
      display: inline-block
      vertical-align: top
      padding: 6px 10px
    section.logo
      width: calc(100%/3)
      text-align: center
      display: inline-block
      vertical-align: bottom
      padding: 3px 6px
      img
        width: 48px
    section.profile
      width: calc(100%/3)
      text-align: right
      display: inline-block
      vertical-align: top
      padding: 6px 10px

@media (min-width: 601px)
  .brand
    height: 100px
    section.menu
      display: none
    section.logo
      float: left
      width: 30%
      height: 80px
      padding: 22px 0 0 18px
      img
        width: 70px
    section.profile
      float: right
      text-align: right
      width: 22%
      padding: 30px 15px 15px 0
    section.search
      float: left
      width: 48%
      padding: 30px 15px 15px 15px
      .ui.search.quick
        .ui.icon.input
          input.prompt
            border-radius: 3px

