body
  .ui.dropdown.burger
    hr
      margin: 0

    &.active
      i.icon
        background: $bg
        color: $brand-blue
        border-radius: 2px

    .ui.labeled.icon.button
      background: none
      color: #fff
      font-size: 15px
      font-weight: 400
      padding-left: 48px!important

    .menu
      top: 50px
      left: 0

    .menu > .item
      padding: 8px 15px 8px 7px !important
      line-height: 1.3em
      i.icon
        background: none

.ui.icon.top.right.pointing.dropdown.button
  hr
    margin: 0
  .menu > .item
    padding: 8px 15px 8px 7px !important
    line-height: 1.3em
  &.active
    i.icon
      color: $brand-blue
      border-radius: 2px

#nav_bar.navbar-fixed
  position: fixed
  top: 0

.menu
  a
    display: block
    padding: 3px
    border-radius: 2px
    color: $black
  a:hover
    background: $brand-blue
    color: $bg
  hr
    margin: 5px 0
    background: none

.ui.search.quick
  .ui.icon.input
    width: 100%
    input.prompt
      border: none
      border-radius: 0
      width: 100%
      padding: 9px 10px


section.profile
  .ui.icon.button
    background: none
    border: 1px solid $bg
    color: $bg

    &.active
      color: $black
      background: $bg

section.menu
  .ui.icon.button
    background: none
    border: 1px solid $bg
    color: $bg

  .ui.dropdown.burger.active
    .ui.icon.button
      color: $black
      background: $bg


// Mobile
@media (max-width: 600px)
  .ui.search.quick
    .ui.icon.input
      input.prompt
        padding: 13px 10px
  #nav_bar
    display: none
  .brand
    background: $brand-blue
    display: block
    min-height: 60px

    section.menu
      width: calc(100%/3)
      float: left
      text-align: left
      display: block
      padding: 9px

    section.logo
      width: calc(100%/3)
      float: left
      text-align: center
      padding: 10px 0 0 0
      img
        width: 50px

    section.profile
      width: calc(100%/3)
      float: right
      text-align: right
      clear: none
      padding: 9px 7px

    section.search
      width: 100%
      float: right
      display: block
      text-align: right

@media (min-width: 601px)
  .brand
    background: $brand-blue
    display: block
    height: 100px

    section.menu
      display: none

    section.logo
      float: left
      width: 30%
      height: 80px
      padding: 22px 0 0 18px
      img
        width: 70px

    section.profile
      float: right
      text-align: right
      width: 22%
      padding: 30px 15px 15px 0

    section.search
      float: left
      width: 48%
      padding: 30px 15px 15px 15px
      .ui.search.quick
        .ui.icon.input
          input.prompt
            border-radius: 3px

