@import "../../src/lib/semantic.min.css"
@import "../../src/lib/slick.css"
@import "../../src/lib/slick-theme.css"

@import "variables.sass"
@import "buttons.sass"
@import "grid.sass"
@import "table.sass"
@import "components.sass"
@import "menu.sass"
@import "type.sass"
@import "swatch.sass"
@import "forms.sass"
@import "gateway.sass"
@import "tiles.sass"
@import "contact.sass"

body
  background: $bg

  .ih-logo
    padding: 10px
    margin: 0px 10px

  .product-wrap
    .product-hero
      width: 100%

  .no-select
    user-select: none


