table.ui.table.swatch.search
  border: none
  margin-top: 15px
  td
    vertical-align: top
    width: calc(100%/3)
    border: 3px solid #FCFCFC
    height: 60px
    position: relative

    &:hover
      cursor: pointer

    &.selected:after
      content: "\2713"
      position: absolute
      top: 8px
      right: 10px
      font-size: 18px
      font-weight: bold

table.ui.table.download
  margin-top: 35px
  width: 100%
  border-radius: 0
  td
    padding: 4px
    border: 0
  tr:nth-child(even)
    background: white

table.ui.table.price
  th, td
    width: 50%
  th
    padding-top: 4px
    padding-bottom: 4px

    .ui.selection.dropdown.currency
      margin-left: 10px
      min-width: 4em
      background: none

table.ui.table.contact
  margin-top: 35px
  width: 100%
  border-radius: 0
  border: 0
  td
    border: 0
    vertical-align: top
    padding: 5px 5px 30px 5px

    &.photo
      width: 70px
      padding: 0
      img
        width: 60px
        margin-top: -6px


table.ui.table
  margin-top: 0
  background: none
  td,
  th,
  tfoot
    background: none
  thead
    th
    background: rgba(0, 0, 0, 0.05)
  tfoot
    background: rgba(34, 36, 38, 0.1)
    font-weight: 600
    tr
      background: none

  .ui.pagination.menu
    box-shadow: none

table.ui.details
  tfoot
    tr
      td
        font-weight: 400


@media (max-width: 600px)
  table.ui.table
    border-left: 0
    border-right: 0
    border-radius: 0
    thead tr:first-child > th:first-child,
    thead tr:first-child > th:last-child
      border-radius: 0
