table.ui.table
  margin-top: 0
  background: none
  // td, th
  //   padding: 10px 14px
  //   background: blue

  td,
  th,
  tfoot
    background: none
    // background: red


  thead
    th
    background: rgba(0, 0, 0, 0.05)
  tfoot
    background: rgba(34, 36, 38, 0.1)
    font-weight: 600
    tr
      background: none

  .ui.pagination.menu
    box-shadow: none


table.ui.sortable.stock
  font-size: 12px



@media (max-width: 600px)
  table.ui.table
    border-left: 0
    border-right: 0
    border-radius: 0
    thead tr:first-child > th:first-child,
    thead tr:first-child > th:last-child
      border-radius: 0
