body
  // padding: 0
  // margin: 0

  // &.browse
  //   .tiles
  //     .ui.card
  //       .description
  //         min-height: 40px
  //       .image
  //         background: white

  // footer
  //   width: 70%
  //   float: left
  //   clear: left
  //   margin-top: 80px
  //   padding: 20px 30px

  // .wrap
  //   max-width: 850px
  //   margin: auto
  //   .product-wrap
  //     position: relative
  //     margin-top: 25px
  //     img
  //       margin-top: -50px

  .content
    background: #fcfcfc
    padding: 15px
    border-radius: 5px
    margin-bottom: 20px

  .tiles
    column-count: 3
    column-gap: 10px
    .ui.card
      display: inline-block
      box-shadow: none
      border: 1px solid $bg

      margin: 0 0 1em
      width: 100%
      &:hover
        transform: none
        border: 1px solid #ccc
        // -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75)
        // -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75)
        // box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75)

      .content
        padding: 10px
        .description
          height: 3em
          overflow: hidden

      .extra.content
        padding: 5px 10px

      .label.bookmark
        position: absolute
        z-index: 2
        font-size: 20px
        top: 4px
        left: 4px

      &.offer:before,
      &.clearance:before,
      &.popular:before,
      &.new:before
        z-index: 3
        color: white
        text-transform: uppercase
        letter-spacing: 0.15em
        padding: 6px 10px
        margin-top: -1

        font-size: 10px
        line-height: 12px
        height: 24px
        width: 100%
        display: block
        border-top-left-radius: 3px
        border-top-right-radius: 3px

      &.offer:before
        background: yellow
        color: black
        content: "Offer"

      &.clearance:before
        background: green
        content: "Clearance"

      &.popular:before
        background: red
        content: "Popular"

      &.new:before
        background: blue
        content: "New"
