body
  font-family: $lato

  input[type='text'],
  input[type='number'],
  textarea
    font-size: 16px

  h2
    font-size: 1.42857143rem
    line-height: 25px
    font-weight: 400

  label.input
    margin: 0 0 8px 0
    display: block
    font-weight: 700

  small
    line-height: 1.4em

  a.return
    margin-top: 10px
    display: block
  a.return:before
    content: '\2191'
    margin-right: 5px

  &.faq
    h3
      margin-top: 20px
      margin-bottom: 8px

  .col-main-right
    .ui.breadcrumb
      line-height: 25px
      .section
        margin-bottom: 5px
      a
        color: black
        border-bottom: 2px solid black
        &:hover
          color: orange
          border-bottom: 2px solid orange


