body
  font-family: $lato



  h1
    padding: 0 0 50px 6px

  .main
    .ui.breadcrumb
      line-height: 25px
      .section
        margin-bottom: 5px
      a
        color: black
        border-bottom: 2px solid black
        &:hover
          color: orange
          border-bottom: 2px solid orange

