$lato: 'Lato', sans-serif

$bg: #f5f5f5
$grey-border: rgba(34, 36, 38, 0.15)
$stroke: #dddddd
$active: #D2EFB9
$brand-blue: #2fb6ee


$black: #202020
$white: white
$grey: slategrey
$blue: deepskyblue
$lightBlue: lightBlue
$red: firebrick
$maroon: darkred
$green: darkgreen
$brightGreen: yellowgreen
$yellow: khaki
$purple: rebeccapurple
$pink: mistyrose
$orange: #FEC254
$turquoise: mediumturquoise
$silver: aliceblue
$gold: gold
$glow: green
$wood: sienna
$beige: wheat
