$lato: 'Lato', sans-serif

$bg: #f5f5f5
$grey-border: rgba(34, 36, 38, 0.15)
$stroke: #dddddd
$active: #f69223

$brand-blue: #2fb6ee
$brand-green: #008f4c
$brand-orange: #f7931d

$black: #202020
$white: ghostwhite
$grey: slategrey
$blue: blue
$lightBlue: lightBlue
$red: firebrick
$maroon: darkred
$green: green
$brightGreen: yellowgreen
$yellow: yellow
$purple: blueviolet
$pink: deeppink
$orange: orangered
$turquoise: darkturquoise
$silver: silver
$gold: gold
$glow: green
$wood: saddlebrown
$beige: peachpuff
