$bg: #f5f5f5
$grey: rgba(34, 36, 38, 0.15)
$yellow: #fff568
$black: #050505
$stroke: #dddddd
$active: #D2EFB9


$red: #f26c4f
$green: #72A736
$blue: #2fb6ee
$orange: #f08f1c


$lato: 'Lato', sans-serif
