//- .brand
//-   .wrap
//-     .nav
//-       img(src="img/logo-white.png" class="ih-logo")

//-   .main
//-     .ui.input.focus
//-       input(type="text", placeholder="Quick search...")



.brand
  .wrap
    img(src="img/logo-white.png" class="ih-logo")
