footer
  p &copy; Ideahouse Corp. S/B

  //- ul
  //-   li &copy; Ideahouse Corp. S/B
  //-   li Kuala Lumpur, Malaysia
  //-   li sales@ideahouse.com.my
  //-   li Tel: +603 6275 4648
  //-   li Fax: +603 6272 1648
