- var authorised = true
- var page = 'about'

doctype html
html(lang="en")
  title = "$PAGE_TITLE"
  include partials/_head
  body(class = page)
    include partials/_nav
    .wrap
      include partials/_col-main-left
      .col-main-right(role="main")
        .ui.huge.breadcrumb
          .section About Ideahouse

        .boundary.no-select
          .product-carousel.tooltip(title="Click for the next image in this set.")
            .div
              img(alt="Image of $PRODUCT_NAME" src="img/product/product-1.jpg", class="product-hero product-1")
            .div
              img(alt="Image of $PRODUCT_NAME" src="img/product/product-2.jpg", class="product-hero product-2")
            .div
              img(alt="Image of $PRODUCT_NAME" src="img/product/product-3.jpg", class="product-hero product-3")


        hr


        h3 22 Years ago, Ideahouse Corporation Sdn Bhd has started its journey in the shoes of a sales agent.

        p The day-to-day difficulties faced with stocks, logistics, prices, and time management are issues we fully comprehend. Our background has shaped us to fully comprehend the difficulties related to order processing such as stocks, logistics, prices, and time management.

        p We have since been dedicating ourselves to easing the challenges faced by agents and re-sellers. Ideahouse provides you a safe and reliable platform with the access to tools that enables you to excel further in your efforts and actualize your fullest capabilities. Allow us to have you covered on mundane back-end processes while you focus on closing deals.

        p We view agents as our partners rather than clients and place importance on building trusting relationships for the long run. Promotional and corporate gifts are what we import, stock and wholesale, bringing you the latest in ideas, designs and trends. With our ever-growing product offerings, you will be sure to find the right gifts to acknowledge your clients’ needs and promote your company!

      include partials/_footer
      include partials/_scripts
