- var authorised = true
- var page = 'about'

doctype html
html(lang="en")
  title = "$PAGE_TITLE"
  include partials/_head
  body(class = page)
    include partials/_nav
    .wrap
      include partials/_col-main-left
      .col-main-right(role="main")
        .ui.huge.breadcrumb
          .section About Ideahouse

        p Ideahouse Corporation Sdn Bhd is an importer and International wholesaler specialized in Promotional Gifts, Corporate Gifts, Door Gifts, Annual Dinner Gifts, Business Gifts, Advertising Gifts, Novelty Gifts and Souvenirs with more than 17 years experience behind us. We have a global network of the world’s leading pen manufacturers and are constantly bringing you the latest in ideas, designs and trends to promote your company and acknowledge your valued clients.
        p Our promotional pens come in all sorts of vibrant colours, shapes and sizes designed for mass market promotions and advertising campaigns. All our pens uses high quality German manufactured ink refill and we provide 6 months guarantee on all our pens against fault as a result of any problem with the ink.
        p We welcome Agents/Resellers to register and enjoy the benefits of full access to our website and powerful tools like the Quick Search, Advanced Search, E-quote, E-cart and Calculator to assist you with your day to day business operations and therefore provide efficient service to your clients. As an importer/wholesaler, we are able to offer Agents/Resellers the best prices and we maintain good level of standard stocks. We can also provide original design services, sourcing for custom made requirements which are subject to MOQ and lead time for delivery.
        p
          = "We are committed to making your buying experience with us an easy and fun one. "
          a Registration as an Agent/Reseller or Corporate is absolutely free.

          = "Registered Members will enjoy full online access to our extensive stock list, exclusive prices updated daily and all the tools specially designed to assist you in finding the products you are looking for."

        p
          = "We are a regular exhibitor at the Kuala Lumpur International Gifts, Premium &amp; Stationery Exhibition. "
          a(href="http://www.kligp.com.my/") KLIGP. This gives us an opportunity to meet up with our agents and also to showcase our latest products.
          = " Ideahouse is a VeriSign 4th year Gold Supplier at "
          a(href="http://ideahouse.trustpass.alibaba.com/") Alibaba.com
          =" , member of "
          a(a href="http://www.hktdc.com/en-buyer/") HKTDC
          = " , a full member of Malaysian Gifts and Premium Entrepreneur Association (MGPA) and a registered member of "
          a(href="http://mol.matrade.gov.my/application/meod.nsf/profile?OpenForm&id=14690") MATRADE
          = " (Malaysia External Trade Development Corporation)"
        p
          = "Need a promotional gift or a unique corporate product? If you are looking for the perfect way to reward your premier clients or simply a gift for that special event, our friendly and experienced staff can you help with products to cater for all occasions. Call our Hotline: 603 6275 4648 or "
          a(href="mailto:sales@ideahouse.com.my") sales@ideahouse.com.my

        h3 Our mission statement
        ul
          li
            = "To provide the "
            strong BEST
            = " service to our customers."
          li
            = "To provide "
            strong GOOD
            = " quality promotional gifts to our customers."
          li
            = "To provide "
            strong COMPETITIVE
            = " prices to our customers."

        hr
        a(href="https://www.flickr.com/search/?q=migp%202008&w=16946831@N07").ui.button Ideahouse at Gift Fairs



      include partials/_footer
      include partials/_scripts
