- var authorised = true
- var page = 'browse'

html
  include _head

  body
    include _brand
    .wrap
      include _nav

      .main
        .ui.huge.breadcrumb
          .section Browse items

        .ui.info.message
          i.close.icon
          .header There are 50 new products since your last visit.
          button.ui.toggle.button View

        .browse
          .ui.card
            a.image
              img(src="img/cat-1.png")
            .content
              a.header Metal Pens
              small 223 Products
          .ui.card
            a.image
              img(src="img/cat-2.png")
            .content
              a.header Plastic Pens
              small 223 Products
          .ui.card
            a.image
              img(src="img/cat-3.png")
            .content
              a.header Plastic Pens
              small 223 Products
          .ui.card
            a.image
              img(src="img/cat-4.png")
            .content
              a.header Plastic Pens
              small 223 Products
          .ui.card
            a.image
              img(src="img/cat-5.png")
            .content
              a.header Plastic Pens
              small 223 Products
          .ui.card
            a.image
              img(src="img/cat-4.png")
            .content
              a.header Plastic Pens
              small 223 Products


      include _footer
      include _scripts
