- var authorised = true
- var page = 'browse'

html
  include partials/_head
  body
    include partials/_brand
    .wrap
      include partials/_nav

      .main
        .ui.huge.breadcrumb
          .section Welcome back, {firstname}

        .ui.info.message
          i.close.icon
          .header There are 50 new products since your last visit.
          button.ui.toggle.button View


        .tiles
          .ui.grid
            .three.column.row
              .column
                a(href="product.html").ui.card
                  .image
                    img.product(src="img/category/pens-metal.gif")
                  .content
                    .description Metal Pens
                  .extra.content
                    small Items Total {Items New}

              .column
                .ui.card
                  .image
                    img.product(src="img/category/pens-plastic.gif")
                  .content
                    .description Plastic Pens
                  .extra.content
                    small Items Total {Items New}

              .column
                .ui.card
                  .image
                    img.product(src="img/category/pens-multi.gif")
                  .content
                    .description Multi Function Pens
                  .extra.content
                    small Items Total {Items New}

            .three.column.row
              .column
                .ui.card
                  .image
                    img.product(src="img/category/pens-sets.gif")
                  .content
                    .description Pen Sets
                  .extra.content
                    small Items Total {Items New}

              .column
                .ui.card
                  .image
                    img.product(src="img/category/eco.gif")
                  .content
                    .description Eco Friendly Gifts
                  .extra.content
                    small Items Total {Items New}

              .column
                .ui.card
                  .image
                    img.product(src="img/category/pencils.gif")
                  .content
                    .description Pencils
                  .extra.content
                    small Items Total {Items New}


            .three.column.row
              .column
                .ui.card
                  .image
                    img.product(src="img/category/packaging.gif")
                  .content
                    .description Packaging
                  .extra.content
                    small Items Total {Items New}
              .column
                .ui.card
                  .image
                    img.product(src="img/category/keyholders.jpg")
                  .content
                    .description Key Holders
                  .extra.content
                    small Items Total {Items New}
              .column
                .ui.card
                  .image
                    img.product(src="img/category/keyholders-multi.jpg")
                  .content
                    .description Multi Function Key Holders
                  .extra.content
                    small Items Total {Items New}

            .three.column.row
              .column
                .ui.card
                  .image
                    img.product(src="img/category/bags.jpg")
                  .content
                    .description Bags
                  .extra.content
                     small Items Total {Items New}
              .column
                .ui.card
                  .image
                    img.product(src="img/category/mug.gif")
                  .content
                    .description Drinkware
                  .extra.content
                    small Items Total {Items New}
              .column
                .ui.card
                  .image
                    img.product(src="img/category/giftsets.jpg")
                  .content
                    .description Corporate Gift Sets
                  .extra.content
                    small Items Total {Items New}

            .three.column.row
              .column
                .ui.card
                  .image
                    img.product(src="img/category/umbrella.jpg")
                  .content
                    .description Umbrellas
                  .extra.content
                    small 1910
              .column
                .ui.card
                  .image
                    img.product(src="img/category/namecard.gif")
                  .content
                    .description Name Card Holders
                  .extra.content
                    small 005
              .column
                .ui.card
                  .image
                    img.product(src="img/category/stationery.gif")
                  .content
                    .description Stationery Gifts
                  .extra.content
                    small 1809

            .three.column.row
              .column
                .ui.card
                  .image
                    img.product(src="img/category/daily-use.jpg")
                  .content
                    .description Daily Use Gift Items
                  .extra.content
                    small 1910
              .column
                .ui.card
                  .image
                    img.product(src="img/category/travel.jpg")
                  .content
                    .description Travel Gifts
                  .extra.content
                    small 005
              .column
                .ui.card
                  .image
                    img.product(src="img/category/usb.jpg")
                  .content
                    .description USB Flash Drives
                  .extra.content
                    small 1809

            .three.column.row
              .column
                .ui.card
                  .image
                    img.product(src="img/category/leather.jpg")
                  .content
                    .description PU Leather
                  .extra.content
                    small 1910
              .column
                .ui.card
                  .image
                    img.product(src="img/category/coin-banks.gif")
                  .content
                    .description Coin Banks &amp; Money Boxes
                  .extra.content
                    small 005
              .column
                .ui.card
                  .image
                    img.product(src="img/category/smartphone.jpg")
                  .content
                    .description Smartphone Gadgets
                  .extra.content
                    small 1809

            .three.column.row
              .column
                .ui.card
                  .image
                    img.product(src="img/category/magnets.jpg")
                  .content
                    .description Magnet Gifts
                  .extra.content
                    small 1910
              .column
                .ui.card
                  .image
                    img.product(src="img/category/photo.gif")
                  .content
                    .description Photo Frames
                  .extra.content
                    small 005
              .column
                .ui.card
                  .image
                    img.product(src="img/category/clocks.jpg")
                  .content
                    .description Clocks &amp; Watches
                  .extra.content
                    small 1809

            .three.column.row
              .column
                .ui.card
                  .image
                    img.product(src="img/category/custom.jpg")
                  .content
                    .description Custom Made Gifts
                  .extra.content
                    small 1910
              .column
                .ui.card
                  .image
                    img.product(src="img/category/party.gif")
                  .content
                    .description Party Gifts &amp; Games
                  .extra.content
                    small 1910


      include partials/_footer
      include partials/_scripts
