- var authorised = true
- var page = 'browse'

doctype html
html(lang="en")
  include partials/_head
  body
    include partials/_brand
    .wrap.browse
      include partials/_nav

      .main(role="main")
        .ui.huge.breadcrumb
          .section Welcome back, $FIRST_NAME

        .ui.info.message
          i.close.icon
          .header There are 10 new products since your last visit.
          button.ui.toggle.button View

        .tiles
          a(href="category.html").ui.card
            .image
              img.product(src="img/category/pens-metal.svg")
            .content
              .description Metal Pens
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/pens-plastic.svg")
            .content
              .description Plastic Pens
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/pens-multi.svg")
            .content
              .description Multi Function Pens
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/pens-sets.svg")
            .content
              .description Pen Sets
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/eco.svg")
            .content
              .description Eco Friendly Gifts
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/pencils.svg")
            .content
              .description Pencils
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/packaging.svg")
            .content
              .description Packaging
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/keyholders.svg")
            .content
              .description Key Holders
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/keyholders-multi.svg")
            .content
              .description Multi Function Key Holders
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/bags.svg")
            .content
              .description Bags
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/drinkware.svg")
            .content
              .description Drinkware
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/corporate.svg")
            .content
              .description Corporate Gift Sets
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/umbrella.svg")
            .content
              .description Umbrellas
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/namecard.svg")
            .content
              .description Name Card Holders
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/stationery.svg")
            .content
              .description Stationery Gifts
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/daily-use.svg")
            .content
              .description Daily Use Gift Items
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/travel.svg")
            .content
              .description Travel Gifts
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/usb.svg")
            .content
              .description USB Flash Drives
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/leather.svg")
            .content
              .description PU Leather
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/coinbanks.svg")
            .content
              .description Coin Banks &amp; Money Boxes
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/smartphone.svg")
            .content
              .description Smartphone Gadgets
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/magnets.svg")
            .content
              .description Magnet Gifts
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/photo.svg")
            .content
              .description Photo Frames
            .extra.content
              small 005
          .ui.card
            .image
              img.product(src="img/category/clocks.svg")
            .content
              .description Clocks &amp; Watches
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/custom.svg")
            .content
              .description Custom Made Gifts
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/party.svg")
            .content
              .description Party Gifts &amp; Games
            .extra.content
              small Items: $TOTAL ($NEW)


      include partials/_footer
      include partials/_scripts
