- var authorised = true
- var page = 'browse'

html
  include partials/_head
  body
    include partials/_brand
    .wrap.browse
      include partials/_nav

      .main
        .ui.huge.breadcrumb
          .section Welcome back, $FIRST_NAME

        .ui.info.message
          i.close.icon
          .header There are 10 new products since your last visit.
          button.ui.toggle.button View

        .tiles
          a(href="category.html").ui.card
            .image
              img.product(src="img/category/pens-metal.gif")
            .content
              .description Metal Pens
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/pens-plastic.gif")
            .content
              .description Plastic Pens
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/pens-multi.gif")
            .content
              .description Multi Function Pens
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/pens-sets.gif")
            .content
              .description Pen Sets
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/eco.gif")
            .content
              .description Eco Friendly Gifts
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/pencils.gif")
            .content
              .description Pencils
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/packaging.gif")
            .content
              .description Packaging
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/keyholders.gif")
            .content
              .description Key Holders
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/keyholders-multi.gif")
            .content
              .description Multi Function Key Holders
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/bags.gif")
            .content
              .description Bags
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/mug.gif")
            .content
              .description Drinkware
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/giftsets.gif")
            .content
              .description Corporate Gift Sets
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/umbrella.gif")
            .content
              .description Umbrellas
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/namecard.gif")
            .content
              .description Name Card Holders
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/stationery.gif")
            .content
              .description Stationery Gifts
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/daily-use.gif")
            .content
              .description Daily Use Gift Items
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/travel.gif")
            .content
              .description Travel Gifts
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/usb.gif")
            .content
              .description USB Flash Drives
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/leather.gif")
            .content
              .description PU Leather
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/coin-banks.gif")
            .content
              .description Coin Banks &amp; Money Boxes
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/smartphone.gif")
            .content
              .description Smartphone Gadgets
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/magnets.gif")
            .content
              .description Magnet Gifts
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/photo.gif")
            .content
              .description Photo Frames
            .extra.content
              small 005
          .ui.card
            .image
              img.product(src="img/category/clocks.gif")
            .content
              .description Clocks &amp; Watches
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/custom.gif")
            .content
              .description Custom Made Gifts
            .extra.content
              small Items: $TOTAL ($NEW)
          .ui.card
            .image
              img.product(src="img/category/party.gif")
            .content
              .description Party Gifts &amp; Games
            .extra.content
              small Items: $TOTAL ($NEW)


      include partials/_footer
      include partials/_scripts
