- var authorised = true
- var page = 'clearance'

html
  include partials/_head
  body
    include partials/_brand
    .wrap
      include partials/_nav

      .main
        .ui.huge.breadcrumb
          .section Clearance items

        .clearance
          .ui.card
            a.image
              img(src="img/clearance-1.png")
            .content
              a.header Maxima-Push Action Ball Plastic Pen (Black Ink)
              small 3004
          .ui.card
            a.image
              img(src="img/clearance-2.png")
            .content
              a.header Plastic Pen
              small 223 Products
          .ui.card
            a.image
              img(src="img/clearance-3.png")
            .content
              a.header Maxima-Push Action Ball Plastic Pen (Black Ink)
              small 3004
          .ui.card
            a.image
              img(src="img/clearance-4.png")
            .content
              a.header Boomerang highlighter
              small S99
          .ui.card
            a.image
              img(src="img/clearance-5.png")
            .content
              a.header 'LOVE' Teddy Fridge Magnet
              small AV3401
          .ui.card
            a.image
              img(src="img/clearance-6.png")
            .content
              a.header Eco Notepad with Recycled Paper Pen
              small S57




      include partials/_footer
      include partials/_scripts
