- var authorised = true
- var page = 'clearance'

html
  include partials/_head
  body
    include partials/_brand
    .wrap
      include partials/_nav

      .main
        .ui.huge.breadcrumb
          .section Clearance items

        .browse
          .ui.card
            a.image
              img(src="img/cat-1.png")
            .content
              a.header Metal Pens
              small 223 Products
          .ui.card
            a.image
              img(src="img/cat-2.png")
            .content
              a.header Plastic Pens
              small 223 Products
          .ui.card
            a.image
              img(src="img/cat-3.png")
            .content
              a.header Plastic Pens
              small 223 Products
          .ui.card
            a.image
              img(src="img/cat-4.png")
            .content
              a.header Plastic Pens
              small 223 Products
          .ui.card
            a.image
              img(src="img/cat-5.png")
            .content
              a.header Plastic Pens
              small 223 Products
          .ui.card
            a.image
              img(src="img/cat-4.png")
            .content
              a.header Plastic Pens
              small 223 Products


      include partials/_footer
      include partials/_scripts
