- var authorised = true
- var page = 'contact'

html
  include partials/_head
  body
    include partials/_brand
    .wrap
      include partials/_nav

      .main(role="main")
        .ui.huge.breadcrumb
          .section Conditions of Use


        p The information contained in this website is for general information purposes only.

        p The information is provided by "IDEAHOUSE CORPORATION SDN BHD" and whilst we endeavour to keep the information up-to-date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, suitability or availability with respect to the website or the information, services, or related graphics contained on the website for any purpose.

        p Any reliance you place on such information is therefore strictly at your own risk.

        p In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.

        p Through this website you are able to link to other websites which are not under the control of "IDEAHOUSE CORPORATION SDN BHD". We have no control over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.

        p Every effort is made to keep the website up and running smoothly. However, "IDEAHOUSE CORPORATION SDN BHD" takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.

        p Any questions or issues relating the content of this website can be reported to info@ideahouse.com.my

        p
          | Regards,
          br
          | IDEAHOUSE CORPORATION SDN BHD



        h6 IMPORTANT LEGAL INFORMATION

        small By accessing this website and its pages (hereinafter referred to as the 'Website'), you declare that you acknowledge the following terms and conditions of use (hereinafter referred to as the 'Terms and Conditions'). If you do not agree to the Terms and Conditions, please refrain from accessing this Website.

        h6 TERMS AND CONDITIONS OF USE

        small Copyright: The entire content of the Website is protected by copyright law. All rights remain reserved to IDEAHOUSE CORPORATION SDN BHD, or stated otherwise. The download or printout of individual pages and/or parts of the Website is permitted provided that neither the copyright statements nor any other legally protected designations are removed or altered.

        small When you download info or other data from the Website or copy it in any other way, all proprietary rights remain with IDEAHOUSE CORPORATION SDN BHD. The (complete or partial) reproduction, transmission, modification, linking or utilization of the Website for publishing or commercial goals is prohibited without IDEAHOUSE CORPORATION SDN BHD prior written approval.

        small IDEAHOUSE CORPORATION SDN BHD uses reasonable efforts in order to ensure the reliability of the information presented on the Website, but makes no warranties or representations whatsoever with respect to the accuracy or reliability of the information provided on the Website.

        small Limitation of Liability: IDEAHOUSE CORPORATION SDN BHD disclaims, without limitation, all liability for any loss or damage of any kind, including any direct, indirect or consequential damages, which might be incurred through the use of or access to the Website, or any links to third-party websites.

        small Governing Law and Jurisdiction : Subject to the Terms and Conditions set forth herein, any use of the Website and all legal disputes arising in connection therewith shall exclusively be governed by Malaysia law. Any disputes involving foreign countries outside of Malaysia, such occurences will be handled by their own respective laws.

        small IDEAHOUSE CORPORATION SDN BHD : The name IDEAHOUSE CORPORATION SDN BHD relates to IDEAHOUSE CORPORATION SDN BHD and includes any direct or indirect subsidiaries thereof.



      include partials/_footer
      include partials/_scripts



