- var authorised = true
- var page = 'contact'

doctype html
html(lang="en")
  title= "$PAGE_TITLE"
  include partials/_head
  body(class = page)
    include partials/_nav
    .wrap
      include partials/_col-main-left
      .col-main-right(role="main")
        .ui.huge.breadcrumb
          .section Contact Us

        h3 Ideahouse Corporation S/B (258221-K)

        iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31869.025806619917!2d101.621389!3d3.192022!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc4f575c855f97%3A0xb249e1a7c577947c!2sIdeahouse+Corporation+Sdn+Bhd!5e0!3m2!1sen!2s!4v1444713493593" width="100%" height="450" frameborder="0" style="border:0" scrollable="no")


        table.ui.very.basic.unstackable.celled.table.contact
          tbody

            tr
              td
                h3
                  = "Address"
              td
                = "No. 20-2, Jalan Tanjung SD 13/2"
                br
                = "Bandar Sri Damansara"
                br
                = "52200 Kuala Lumpur"
                br
                = "Selangor"
                br
                = "Malaysia / South-East Asia"
                br
                a(href="http://www.instantstreetview.com/@3.1878,101.604853,82.7h,18.1p,0.34z") Find us on Google Street View
                br
                a(href="waze://?q=<Ideahouse Corporation Sdn Bhd>", target="_blank") Find us on Waze
              

            tr
              td
                h3
                  = "Operating hours"
              td
                | 9.00am&ndash;6.00pm
                br
                | Monday&ndash;Friday (GMT+8)

            tr
              td
                h3
                  = "Main Switchboard"
                  br
                  &times;
                  = "5 hotlines"
              td
                i.phone.icon
                | +603 6275 4648
                br
                i.fax.icon
                | +643 6272 1648
                br
                i.whatsapp.icon
                | 016-202-4648
                br
                i.mail.icon
                a(href="sales@ideahouse.com.my" aria-label="Email Ideahouse") sales@ideahouse.com.my

        hr

        .ui.contact.cards
          .card
            .content
              img.right.floated.mini.ui.image(src="img/editorial/ashikin.png")
              .header Ms. Ashikin
              .meta Sales Assistant
              .description
                i.phone.icon
                a(href="tel:016668464") 016 668 464
                br
                i.mail.icon
                a(href="ashikin@ideahouse.com.my" aria-label="Email Ms. Ashikin") 
                  | ashikin
                  span.domain @ideahouse.com.my

          .card
            .content
              img.right.floated.mini.ui.image(src="img/editorial/bee.png")
              .header Mr. Zabri/Bee
              .meta Sales Assistant
              .description
                .hr
                i.phone.icon
                a(href="tel:016 229 1648") 016 229 1648
                br
                i.mail.icon
                a(href="zabri@ideahouse.com.my" aria-label="Email Mr. Zabri/Bee") 
                  | zabri
                  span.domain @ideahouse.com.my

          .card
            .content
              img.right.floated.mini.ui.image(src="img/editorial/jerry.png")
              .header Mr. Jerry
              .meta Sales Assistant
              .description
                .hr
                i.phone.icon
                a(href="tel:0162254648") 016 225 4648
                br
                i.mail.icon
                a(href="jerry@ideahouse.com.my" aria-label="Email Jerry") 
                  | jerry
                  span.domain @ideahouse.com.my

          .card
            .content
              img.right.floated.mini.ui.image(src="img/editorial/nurul.png")
              .header Ms. Nurul
              .meta Sales Assistant
              .description
                .hr
                i.phone.icon
                a(href="tel:0126044648") 012 604 4648
                br
                i.mail.icon
                a(href="nurul@ideahouse.com.my" aria-label="Email Ms. Nurul") 
                  | nurul
                  span.domain @ideahouse.com.my


      include partials/_footer
      include partials/_scripts



