- var authorised = true
- var page = 'contact'

doctype html
html(lang="en")
  include partials/_head
  body
    include partials/_brand
    .wrap
      include partials/_nav

      .main(role="main")
        .ui.huge.breadcrumb
          .section Contact Us

        h3.pad Ideahouse Corporation S/B (258221-K)
        p.pad No. 20-2, Jalan Tanjung SD 13/2
          br
          | Bandar Sri Damansara
          br
          | 52200 Kuala Lumpur
          br
          | Selangor
          br
          | Malaysia / South-East Asia

        iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31869.025806619917!2d101.621389!3d3.192022!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc4f575c855f97%3A0xb249e1a7c577947c!2sIdeahouse+Corporation+Sdn+Bhd!5e0!3m2!1sen!2s!4v1444713493593" width="100%" height="450" frameborder="0" style="border:0" scrollable="no")

        ul.details
          li LAT/LON: N 03 11.270 / E 101 36.300
          li
            a(href="waze://?q=<Ideahouse Corporation Sdn Bhd>", target="_blank") Find us on Waze
          li
            a(href="https://foursquare.com/v/ideahouse-corporation-sdn-bhd/4ca41bb8d5a2a14303544f90", target="_blank") Find us on Foursquare
        ul.details
          strong Operating Hours
          li 9.00am–6.00pm
          li Monday–Friday (GMT+8)

        hr

        table.ui.very.basic.unstackable.celled.table.contact.pad
          tbody
            tr
              td
                h3 Switchboard
                &times;
                = "5 hotlines"
              td
                i.phone.icon
                | +603 6275 4648
                br
                i.fax.icon
                | +643 6272 1648
                br
                i.whatsapp.icon
                | 016-202-4648
                br
                i.mail.icon
                a(href="sales@ideahouse.com.my") sales@ideahouse.com.my
                = " ( "
                a(href="") add vcard
                = " ) "
            tr
              td
                h3 Ms Ashikin
                = "(add role here)"
              td
                i.phone.icon
                = "016 668 4648"
                br
                i.mail.icon
                a(href="ashikin@ideahouse.com.my") ashikin@ideahouse.com.my

            tr
              td
                h3 Mr Zabri/Bee
                = "(add role here)"
              td
                i.phone.icon
                | 016 229 1648
                br
                i.mail.icon
                a(href="zabri@ideahouse.com.my") zabri@ideahouse.com.my

            tr
              td
                h3 Mr Jerry
                = "(add role here)"
              td
                i.phone.icon
                | 016 225 4648
                br
                i.mail.icon
                a(href="jerry@ideahouse.com.my") jerry@ideahouse.com.my

            tr
              td
                h3 Ms Nurul
                = "(add role here)"
              td
                i.phone.icon
                | 012 604 4648
                br
                i.mail.icon
                a(href="nurul@ideahouse.com.my") nurul@ideahouse.com.my


      include partials/_footer
      include partials/_scripts



