- var authorised = true
- var page = 'download'

doctype html
html(lang="en")
  title = "$PAGE_TITLE"
  include partials/_head
  body(class = page)
    include partials/_nav
    .wrap.main
      include partials/_col-main-left
      .col-main-right(role="main")
        .ui.huge.breadcrumb
          .section Download 2015 Price List / Catalogue


        .content.authorised-show
          h3
            = "Ideahouse 2015 Agent Price List (PDF)"
          hr
          .ui.cta.tiny.button
            i.icon.download
            = "Download full price list"


        .ui.info.message.authorised-hide
          .header To download Ideahouse 2015 Agent Price List (PDF), please sign in. If you don't have an account with Ideahouse, register now for a free account.
          .ui.button Sign in
          .ui.button Register


        .content
          h3
            = "Ideahouse 2015 print catalogue (PDF)"
          hr
          .ui.cta.tiny.button
            i.icon.download
            = "Download full Catalogue"

          .ui.tiny.button.basic Download Catalogue Index

          table.ui.very.basic.unstackable.celled.table.download
            tbody
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/pens-metal.svg")
                    = "Metal Pens"
                td
                  .ui.basic.tiny.button
                    i.icon.download
                    = "Download section"
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/pens-plastic.svg")
                    = "Plastic Pens"
                td
                  .ui.basic.tiny.button
                    i.icon.download
                    = "Download section"

              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/pens-multi.svg")
                    = "Multi Function Pens"
                td
                  .ui.basic.tiny.button
                    i.icon.download
                    = "Download section"

              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/pens-sets.svg")
                    = "Pen Sets"
                td
                  .ui.basic.tiny.button
                    i.icon.download
                    = "Download section"
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/eco.svg")
                    = "Eco Friendly Gifts"
                td
                  .ui.basic.tiny.button
                    i.icon.download
                    = "Download section"
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/pencils.svg")
                    = "Pencils"
                td
                  .ui.basic.tiny.button
                    i.icon.download
                    = "Download section"
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/packaging.svg")
                    = "Packaging"
                td
                  .ui.basic.tiny.button
                    i.icon.download
                    = "Download section"
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/keyholders.svg")
                    = "Key Holders"
                td
                  .ui.basic.tiny.button
                    i.icon.download
                    = "Download section"
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/keyholders-multi.svg")
                    = "Multi Function Key Holders"
                td
                  .ui.basic.tiny.button
                    i.icon.download
                    = "Download section"
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/bags.svg")
                    = "Bags"
                td
                  .ui.basic.tiny.button
                    i.icon.download
                    = "Download section"
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/drinkware.svg")
                    = "Drinkware"
                td
                  .ui.basic.tiny.button
                    i.icon.download
                    = "Download section"
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/corporate.svg")
                    = "Corporate Gift Sets"
                td
                  .ui.basic.tiny.button
                    i.icon.download
                    = "Download section"

              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/umbrella.svg")
                    = "Umbrellas"
                td
                  .ui.basic.tiny.button
                    i.icon.download
                    = "Download section"
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/namecard.svg")
                    = "Name Card Holders"
                td
                  .ui.basic.tiny.button
                    i.icon.download
                    = "Download section"

              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/stationery.svg")
                    = "Stationery Gifts"
                td
                  .ui.basic.tiny.button
                    i.icon.download
                    = "Download section"
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/daily-use.svg")
                    = "Daily Use Gift Items"
                td
                  .ui.basic.tiny.button
                    i.icon.download
                    = "Download section"
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/travel.svg")
                    = "Travel Gifts"
                td
                  .ui.basic.tiny.button
                    i.icon.download
                    = "Download section"
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/usb.svg")
                    = "USB Flash Drives"
                td
                  .ui.basic.tiny.button
                    i.icon.download
                    = "Download section"

              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/leather.svg")
                    = "PU Leather"
                td
                  .ui.basic.tiny.button
                    i.icon.download
                    = "Download section"


              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/smartphone-gadgets.svg")
                    = "Smartphone Gadgets"
                td
                  .ui.basic.tiny.button
                    i.icon.download
                    = "Download section"

              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/smartphone-powerbanks.svg")
                    = "Smartphone Powerbanks"
                td
                  .ui.basic.tiny.button
                    i.icon.download
                    = "Download section"

              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/coinbanks.svg")
                    = "Coin Banks & Money Boxes"
                td
                  .ui.basic.tiny.button
                    i.icon.download
                    = "Download section"





              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/magnets.svg")
                    = "Magnet Gifts"
                td
                  .ui.basic.tiny.button
                    i.icon.download
                    = "Download section"
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/photo.svg")
                    = "Photo Frames"
                td
                  .ui.basic.tiny.button
                    i.icon.download
                    = "Download section"
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/clocks.svg")
                    = "Clocks & Watches"
                td
                  .ui.basic.tiny.button
                    i.icon.download
                    = "Download section"
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/custom.svg")
                    = "Custom Made Gifts"
                td
                  .ui.basic.tiny.button
                    i.icon.download
                    = "Download section"
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/party.svg")
                    = "Party Gifts & Games"
                td
                  .ui.basic.tiny.button
                    i.icon.download
                    = "Download section"



      include partials/_footer
      include partials/_scripts
