- var authorised = true
- var page = 'download'

html
  include partials/_head
  body
    include partials/_brand
    .wrap
      include partials/_nav
      .main
        .ui.huge.breadcrumb
          .section Download 2015 Price List / Catalogue

        .content
          h3
            = "Ideahouse 2015 Agent Price List (PDF)"
          br
          button.ui.cta.button
            i.icon.download
            = "Download full price list"

        .content
          h3
            = "Ideahouse 2015 print catalogue (PDF)"
          br
          button.ui.cta.button
            i.icon.download
            = "Download full Catalogue"

          table.ui.very.basic.unstackable.celled.table.download
            tbody
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/pens-metal.svg")
                    = "Catalogue Index"
                td
                  button.ui.basic.button
                    i.icon.download
                    = "Download section"
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/pens-metal.svg")
                    = "Metal Pens"
                td
                  button.ui.basic.button
                    i.icon.download
                    = "Download section"
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/pens-plastic.svg")
                    = "Plastic Pens"
                td
                  button.ui.basic.button
                    i.icon.download
                    = "Download section"

              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/pens-multi.svg")
                    = "Multi Function Pens"
                td
                  button.ui.basic.button
                    i.icon.download
                    = "Download section"

              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/pens-sets.svg")
                    = "Pen Sets"
                td
                  button.ui.basic.button
                    i.icon.download
                    = "Download section"
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/eco.svg")
                    = "Eco Friendly Gifts"
                td
                  button.ui.basic.button
                    i.icon.download
                    = "Download section"
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/pencils.svg")
                    = "Pencils"
                td
                  button.ui.basic.button
                    i.icon.download
                    = "Download section"
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/packaging.svg")
                    = "Packaging"
                td
                  button.ui.basic.button
                    i.icon.download
                    = "Download section"
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/keyholders.svg")
                    = "Key Holders"
                td
                  button.ui.basic.button
                    i.icon.download
                    = "Download section"
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/keyholders-multi.svg")
                    = "Multi Function Key Holders"
                td
                  button.ui.basic.button
                    i.icon.download
                    = "Download section"
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/bags.svg")
                    = "Bags"
                td
                  button.ui.basic.button
                    i.icon.download
                    = "Download section"
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/drinkware.svg")
                    = "Drinkware"
                td
                  button.ui.basic.button
                    i.icon.download
                    = "Download section"
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/corporate.svg")
                    = "Corporate Gift Sets"
                td
                  button.ui.basic.button
                    i.icon.download
                    = "Download section"

              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/umbrella.svg")
                    = "Umbrellas"
                td
                  button.ui.basic.button
                    i.icon.download
                    = "Download section"
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/namecard.svg")
                    = "Name Card Holders"
                td
                  button.ui.basic.button
                    i.icon.download
                    = "Download section"

              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/stationery.svg")
                    = "Stationery Gifts"
                td
                  button.ui.basic.button
                    i.icon.download
                    = "Download section"
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/daily-use.svg")
                    = "Daily Use Gift Items"
                td
                  button.ui.basic.button
                    i.icon.download
                    = "Download section"
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/travel.svg")
                    = "Travel Gifts"
                td
                  button.ui.basic.button
                    i.icon.download
                    = "Download section"
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/usb.svg")
                    = "USB Flash Drives"
                td
                  button.ui.basic.button
                    i.icon.download
                    = "Download section"

              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/leather.svg")
                    = "PU Leather"
                td
                  button.ui.basic.button
                    i.icon.download
                    = "Download section"
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/coinbanks.svg")
                    = "Coin Banks & Money Boxes"
                td
                  button.ui.basic.button
                    i.icon.download
                    = "Download section"
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/smartphone.svg")
                    = "Smartphone Gadgets"
                td
                  button.ui.basic.button
                    i.icon.download
                    = "Download section"
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/magnets.svg")
                    = "Magnet Gifts"
                td
                  button.ui.basic.button
                    i.icon.download
                    = "Download section"
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/photo.svg")
                    = "Photo Frames"
                td
                  button.ui.basic.button
                    i.icon.download
                    = "Download section"
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/clocks.svg")
                    = "Clocks & Watches"
                td
                  button.ui.basic.button
                    i.icon.download
                    = "Download section"
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/custom.svg")
                    = "Custom Made Gifts"
                td
                  button.ui.basic.button
                    i.icon.download
                    = "Download section"
              tr
                td
                  h4.ui.image.header
                    img.ui.mini.rounded.image(src="img/category/party.gif")
                    = "Party Gifts & Games"
                td
                  button.ui.basic.button
                    i.icon.download
                    = "Download section"



      include partials/_footer
      include partials/_scripts
