- var authorised = true
- var page = 'download'

html
  include partials/_head
  body
    include partials/_brand
    .wrap
      include partials/_nav
      .main
        .ui.huge.breadcrumb
          .section Download Catalogue / Price List



      include partials/_footer
      include partials/_scripts
