- var authorised = true
- var page = 'faq'

doctype html
html(lang="en")
  title = "$PAGE_TITLE"
  include partials/_head
  body(class = page)
    include partials/_nav
    .wrap
      include partials/_col-main-left
      .col-main-right(role="main" id="qStart")
        .ui.huge.breadcrumb
          .section Frequently Asked Questions

        ol
          li
            a(name="q0" href="#a0") Why register as a member and purchase with Ideahouse?
          li
            a(name="q1" href="#a1") Who can register as a member?
          li
            a(name="q2" href="#a2") Can I test/see the product before ordering?

            a(name="q3" href="#a3") What is the price of your products?
          li
            a(name="q4" href="#a4") Can I reserve a product?


          li
            a(name="q5" href="#a5") How do I place an order?
          li
            a(name="q6" href="#a6") How accurate are your stock levels/quantity?
          li
            a(name="q7" href="#a7") How should I submit my client’s logo for printing?
          li
            a(name="q8" href="#a8") What is the lead time once an order is confirmed?
          li
            a(name="q9" href="#a9") Do you deliver outside of Klang Valley?


          li
            a(name="q10" href="#a10") How much is the delivery charge?
          li
            a(name="q11" href="#a11") What are your payment terms?
          li
            a(name="q12" href="#a12") What is your M.O.Q. (Minimum Order Quantity)?
          li
            a(name="q13" href="#a13") Who/What are Preferred Agents and how can I be one?


        .ui.info.message
          .header
            = "If you have any further queries please email us at "
            a(href="mailto:sales@ideahouse.com.my") sales@ideahouse.com.my
            = "."

        hr

        ol
          li
            a(name="a0")
            h3 Why register as a member and purchase with Ideahouse?
            ol
              li Free registration, no fee applicable.
              li Convenient self-access to stock availability and prices
              li No minimum order
              li Free artwork service for printing
              li Access to catalogue and pricelist download
              li Agent Loyalty Program rewards you with credit terms, free samples, dispatch services and exclusive pricing.
              li Reserve stock before purchase confirmation
              li Flexible return policy
          a(href="#qStart").ui.labeled.icon.button.basic.return Return
            i.arrow.up.icon


          li
            a(name="a1")
            h3 Who can register as a member?
            = "There are two types of account registrations."
            ol
              li AGENT/RESELLER: For agents or retail outlets who purchase our products for the purpose of re-selling to their clients.
              li CORPORATE USER/END USER: For members who buy our products for own self/ own company use.
            p A confirmation of your registration will be provided within 2 business days.
          a(href="#qStart").ui.labeled.icon.button.basic.return Return
            i.arrow.up.icon


          li
            a(name="a2")
            h3 Can I test/see the product before ordering?
            p Yes, we welcome you to test products at our showroom to better understand them and explore your diverse options.
          a(href="#qStart").ui.labeled.icon.button.basic.return Return
            i.arrow.up.icon


          li
            a(name="a3")
            h3 What is the price of your products?
            p Once registered and logged in, the pricing table will become accessible.
            p Prices are shown in RM by default. Other currency options available are USD, SGD and AUD.
            p Additional services such as print/laser/embroidery and delivery charges will incur separately. These charges vary according to your order quantity and print requirements.
          a(href="#qStart").ui.labeled.icon.button.basic.return Return
            i.arrow.up.icon


          li
            a(name="a4")
            h3 Can I reserve a product?
            p Yes, you may reserve any of our products up to 3 business days. Should another party express interest on the same product within this period, you will be contacted with priority to purchase the item or to have a cancellation.
          a(href="#qStart").ui.labeled.icon.button.basic.return Return
            i.arrow.up.icon



          li
            a(name="a5")
            h3 How do I place an order?
            p
              = "Simply call us at +603 6275 4648 or drop you request at "
              a(href="mailto:sales@ideahouse.com.my") sales@ideahouse.com.my
              = " and we’ll be in touch within 1 business day. For more contact information, "
              a(href="contact.html" aria-label="View Contact Us page") click here
              = "."
          a(href="#qStart").ui.labeled.icon.button.basic.return Return
            i.arrow.up.icon


          li
            a(name="a6")
            h3 How accurate are your stock levels/quantity?
            p Stock levels are updated on our website on a daily basis.
          a(href="#qStart").ui.labeled.icon.button.basic.return Return
            i.arrow.up.icon


          li
            a(name="a7")
            h3 How should I submit my client’s logo for printing?
            p
            = "Send the artwork via attachment to "
            a(href="mailto:sales@ideahouse.com.my") sales@ideahouse.com.my
            = ". Files can be submitted in Adobe Illustrator (.ai) format or Corel Draw (.eps). It is preferable to receive the highest resolution in order to correctly and accurately reproduce your logo/text."

            p Outline should be created on fonts to avoid loss of font type. Other non-vector based file may cause delays.

            p Free visuals of artwork are provided for confirmed orders. Visuals will indicate pantone colours and print size for approval before proceeding.

            p Print area size on a product is optimized according to the printer’s equipment capabilities. Requests for wider print area is subject to printer’s approval with additional cost.

            p Any complex changes/visuals redrawn may incur a minimal service fee.
          a(href="#qStart").ui.labeled.icon.button.basic.return Return
            i.arrow.up.icon


          li
            a(name="a8")
            h3 What is the lead time once an order is confirmed?
            p Orders with print request requires 5-7 business days upon confirmation of approved artwork.
            p For orders without printing services, we prefer one day notice from confirmation to prepare the goods. The goods will then be ready for dispatch/pick up on the next business day.
            p Urgent orders requiring 4 days or less, is subject to approval with additional rush order charge.
            p We do not hold liable for any loss, damage or delays due to courier schedule disruption or customs clearance during the delivery process.
          a(href="#qStart").ui.labeled.icon.button.basic.return Return
            i.arrow.up.icon


          li
            a(name="a9")
            h3 Do you deliver outside of Klang Valley?
            p Yes, we do ship orders across Malaysia and internationally too.
          a(href="#qStart").ui.labeled.icon.button.basic.return Return
            i.arrow.up.icon


          li
            a(name="a10")
            h3 How much is the delivery charge?
            p Delivery charge is based on total weight and delivery distance.
            p
              a(href="pap.html") Preferred Agent program
              = " provides benefits to agents for deliveries in selected areas around Klang Valley. For more information, click here."
            p For outstation or overseas orders, courier/freight cost can only be accurately quoted upon confirmation of order, taking the weight and carton dimensions into calculation."
          a(href="#qStart").ui.labeled.icon.button.basic.return Return
            i.arrow.up.icon

          li
            a(name="a11")
            h3 What are your payment terms?
            p For orders without print, payment before collection.
            p For orders with print, 50% deposit upon confirmation of order. Balance of 50% payable prior to dispatch/shipment or upon self-collection.

            p Payment mode accepted:
            ol
              li Cash
              li Credit/Debit Card (Visa/Mastercard)
              li Cheque
              li Online banking
              li Direct deposit to Maybank account
              li Telegraphic Transfer
              li Paypal
          a(href="#qStart").ui.labeled.icon.button.basic.return Return
            i.arrow.up.icon

          li
            a(name="a12")
            h3 What is your M.O.Q. (Minimum Order Quantity)?
            p No M.O.Q. is enforced for all stocked items.
          a(href="#qStart").ui.labeled.icon.button.basic.return Return
            i.arrow.up.icon

          li
            a(name="a13")
            h3 Who/What are Preferred Agents and how can I be one?
            p Any agent/re-seller who have made transactions with us may be able to enjoy exclusive benefits for their following purchases.
            p
              = "For more information, please visit the "
              a(href="pap.html") Preferred Agents Program
              = "."

          a(href="#qStart").ui.labeled.icon.button.basic.return Return
            i.arrow.up.icon



      include partials/_footer
      include partials/_scripts
