- var authorised = true
- var page = 'faq'

doctype html
html(lang="en")
  title= "$PAGE_TITLE"
  include partials/_head
  body(class = page)
    include partials/_nav
    .wrap
      include partials/_col-main-left
      .col-main-right(role="main" id="qStart")
        .ui.huge.breadcrumb
          .section Frequently Asked Questions



        .ui.styled.accordion
          .title
            i.dropdown.icon
            = "Why register as a member and purchase with Ideahouse?"
          .content
            ol.transition.hidden
              li Free registration, no fee applicable.
              li Convenient self-access to stock availability and prices
              li No minimum order
              li Free artwork service for printing
              li Access to catalogue and pricelist download
              li Agent Loyalty Program rewards you with credit terms, free samples, dispatch services and exclusive pricing.
              li Reserve stock before purchase confirmation
              li Flexible return policy

          .title
            i.dropdown.icon
            = "Who can register as a member?"

          .content
            p.transition.hidden There are two types of account registrations.
            ol.transition.hidden
              li AGENT/RESELLER: For agents or retail outlets who purchase our products for the purpose of re-selling to their clients.
              li CORPORATE USER/END USER: For members who buy our products for own self/ own company use.
            p.transition.hidden A confirmation of your registration will be provided within 2 business days.


          .title
            i.dropdown.icon
            = "Can I test/see the product before ordering?"
          .content
            p.transition.hidden Yes, we welcome you to test products at our showroom to better understand them and explore your diverse options.


          .title
            i.dropdown.icon
            = "What is the price of your products?"
          .content
            p.transition.hidden Once registered and logged in, the pricing table will become accessible. Prices are shown in RM by default. Other currency options available are USD, SGD and AUD. Additional services such as print/laser/embroidery and delivery charges will incur separately. These charges vary according to your order quantity and print requirements.


          .title
            i.dropdown.icon
            = "Can I reserve a product?"
          .content
            p.transition.hidden Yes, you may reserve any of our products up to 3 business days. Should another party express interest on the same product within this period, you will be contacted with priority to purchase the item or to have a cancellation.


          .title
            i.dropdown.icon
            = "How do I place an order?"
          .content
            p.transition.hidden Simply call us at +603 6275 4648 or drop you request at sales@ideahouse.com.my and we’ll be in touch within 1 business day. For more contact information, click here.

          .title
            i.dropdown.icon
            = "How accurate are your stock levels/quantity?"
          .content
            p.transition.hidden Stock levels are updated on our website on a daily basis.


          .title
            i.dropdown.icon
            = "How should I submit my client’s logo for printing?"
          .content
            p.transition.hidden Send the artwork via attachment to sales@ideahouse.com.my. Files can be submitted in Adobe Illustrator (.ai) format or Corel Draw (.eps). It is preferable to receive the highest resolution in order to correctly and accurately reproduce your logo/text.
            p.transition.hidden Outline should be created on fonts to avoid loss of font type. Other non-vector based file may cause delays.
            p.transition.hidden Free visuals of artwork are provided for confirmed orders. Visuals will indicate pantone colours and print size for approval before proceeding.
            p.transition.hidden Print area size on a product is optimized according to the printer’s equipment capabilities. Requests for wider print area is subject to printer’s approval with additional cost.
            p.transition.hidden Any complex changes/visuals redrawn may incur a minimal service fee.


          .title
            i.dropdown.icon
            = "What is the lead time once an order is confirmed?"
          .content
            p.transition.hidden Orders with print request requires 5-7 business days upon confirmation of approved artwork.
            p.transition.hidden For orders without printing services, we prefer one day notice from confirmation to prepare the goods. The goods will then be ready for dispatch/pick up.transition.hidden on the next business day.
            p.transition.hidden Urgent orders requiring 4 days or less, is subject to approval with additional rush order charge.
            p.transition.hidden We do not hold liable for any loss, damage or delays due to courier schedule disruption or customs clearance during the delivery process.

          .title
            i.dropdown.icon
            = "Do you deliver outside of Klang Valley?"
          .content
            p.transition.hidden Yes, we do ship orders across Malaysia and internationally too.

          .title
            i.dropdown.icon
            = "How much is the delivery charge?"
          .content
            p.transition.hidden Delivery charge is based on total weight and delivery distance.
            p.transition.hidden Preferred Agent program provides benefits to agents for deliveries in selected areas around Klang Valley. For more information, click here.
            p.transition.hidden For outstation or overseas orders, courier/freight cost can only be accurately quoted upon confirmation of order, taking the weight and carton dimensions into calculation.


          .title
            i.dropdown.icon
            = "What are your payment terms?"
          .content
            p.transition.hidden For orders without print, payment before collection.
            p.transition.hidden For orders with print, 50% deposit upon confirmation of order. Balance of 50% payable prior to dispatch/shipment or upon self-collection.
            p.transition.hidden Payment mode accepted:
            ol.transition.hidden
              li Cash
              li Credit/Debit Card (Visa/Mastercard)
              li Cheque
              li Online banking
              li Direct deposit to Maybank account
              li Telegraphic Transfer
              li Paypal


          .title
            i.dropdown.icon
            = "What is your M.O.Q. (Minimum Order Quantity)?"
          .content
            p No M.O.Q. is enforced for all stocked items.

          .title
            i.dropdown.icon
            = "Who/What are Preferred Agents and how can I be one?"
          .content
            p.transition.hidden Any agent/re-seller who have made transactions with us may be able to enjoy exclusive benefits for their following purchases.
            p.transition.hidden For more information, please visit the Preferred Agents Program.



        hr
        .ui.info.message
          .header
            = "If you have any further queries please email us at "
            a(href="mailto:sales@ideahouse.com.my") sales@ideahouse.com.my
            = "."



      include partials/_footer
      include partials/_scripts
