- var authorised = false
- var page = 'gate'

html
  include partials/_head
  body.gate
    include partials/_brand
    .wrap
      include partials/_nav
      .main
        .ui.huge.breadcrumb
          .section Reset my password

        .ui.info.message
          .header
            | Please check your email for further instructions.

        .content
          p You'll be emailed instructions on how to reset your password.
          hr
          label.input Login
          .ui.big.input
            input(type="email", placeholder="Email/Login ID")
          hr
          a(href="#").ui.button Email me reset link
          a(href="#").ui.button.disabled Email me reset link


      include partials/_scripts
