- var authorised = false
- var page = 'gate'

doctype html
html(lang="en")
  title = "$PAGE_TITLE"
  include partials/_head
  body(class = page)
    include partials/_nav
    .wrap
      include partials/_col-main-left
      .col-main-right(role="main")

        .ui.huge.breadcrumb
          .section Welcome to Ideahouse

        //- .ui.info.message
        //-   .header
        //-     | You've sucessfully changed your password. Please sign in using your new credentials.

        .content
          form.ui.form.login
            fieldset
              .field
                label.input Login
                input(type="email", name="email", id="email", placeholder="Email / Login ID")
              .field
                label.input Password
                input(type="password", name="password", placeholder="Password")
              .field
                a(href="gate-reset-send.html").forgot I've forgotten my password
            fieldset
              .field
                .ui.checkbox
                  input(type="checkbox" tabindex="0" class="hidden")
                  label Remember me

            hr
            .ui.error.message
            button.ui.submit.button(type="submit") {Check Validation}
            a(href="index.html" id="signin").ui.button.cta Sign in

        .ui.info.message
          i.close.icon
          .header
            = "Don't have an Ideahouse account?"
            br
            = "Register an account now for free."
          a(href="gate-register-1.html").ui.button Register



      include partials/_footer
      include partials/_scripts
