- var authorised = false
- var page = 'gate'

doctype html
html(lang="en")
  title = "$PAGE_TITLE"
  include partials/_head
  body(class = page)
    include partials/_nav
    .wrap
      include partials/_col-main-left
      .col-main-right(role="main")
        .ui.huge.breadcrumb
          .section Thank you for registering an account with Ideahouse as a Reseller/Agent

        .content
          .thank-you
            p
              = "Our registration personnel will be calling your mobile no. for verification of your application within 48 working hours. A confirmation email will then be immediately sent to your "
              strong Login Email
              = " confirming your account."
            p
              = "Only New Reseller registered before 31st Dec 2015 will be entitled "
              strong RM50*
              = "credit for "
              strong 1st time purchase
              = " of Ideahouse products."
            p
              = "Kindly call James "
              a(href="tel:016-3314648") 016-3314648
              = " if you require further information and assistance."
            small *Terms &amp; Conditions apply

        .ui.huge.breadcrumb
          .section Thank you for registering an account with Ideahouse as a Corporate/End User

        .content
          .thank-you
            p
              = "Our registration personnel will be calling your mobile no. for verification of your application within 48 working hours. A confirmation email will then be immediately sent to your "
              strong Login Email
              = " confirming your account."
            p
              = "Kindly call James "
              a(href="tel:016-3314648") 016-3314648
              = " if you require further information and assistance."

      include partials/_footer
      include partials/_scripts
