- var authorised = false
- var page = 'gate'

doctype html
html(lang="en")
  title = "$PAGE_TITLE"
  include partials/_head
  body(class = page)
    include partials/_nav
    .wrap
      .col-main-right(role="main")
        .ui.huge.breadcrumb
          .section Reset my password

        .ui.info.message
          .header
            | Please check your email for further instructions.

        .content
          p You'll be emailed instructions on how to reset your password.
          hr
          label.input Login
          .ui.big.input
            input(type="email", placeholder="Email/Login ID")
          hr
          a(href="#" aria-label="Email me reset link").ui.button Email me reset link
          a(href="#" aria-label="Email me reset link").ui.button.disabled Email me reset link


      include partials/_footer
      include partials/_scripts
