- var authorised = false
- var page = 'gate'

doctype html
html(lang="en")
  title = "$PAGE_TITLE"
  include partials/_head
  body(class = page)
    include partials/_nav
    .wrap
      include partials/_col-main-left
      .col-main-right(role="main")
        .ui.huge.breadcrumb
          .section Reset my password

        .ui.info.message
          .header
            | Please check your email for further instructions.

        .content
          p You'll be emailed instructions on how to reset your password.
          hr
          form.ui.form
            fieldset
              label.input Login
              .inline.field
                .ui.big.fluid.input
                  input(type="email", placeholder="Email / Login ID")


          hr
          a(href="#" aria-label="Email me reset link").ui.button.cta Email reset link

      include partials/_footer
      include partials/_scripts
