- var authorised = false
- var page = 'gate'

html
  include partials/_head
  body.gate
    include partials/_brand
    .wrap
      include partials/_nav
      .main
        .ui.huge.breadcrumb
          .section Welcome to Ideahouse
        .content
          label.input Email
          .ui.big.input
            input(type="email", placeholder="Email")
          label.input Password
          .ui.big.input
            input(type="password", placeholder="Password")
          hr
          div.ui.checkbox
            input(type="checkbox" name="remember")
            label Remember me
          hr
          a(href="browse.html").ui.large.cta.button Sign in

      include partials/_scripts
