- var authorised = false
- var page = 'gate'

html
  include partials/_head
  body
    include partials/_brand
    .wrap
      include partials/_nav

      .main

        .ui.huge.breadcrumb
          .section
          | Welcome to the Approved Agent Portal.
          br
          | Please sign in to continue.

        .ui.big.fluid.input
          input(type="email", placeholder="Email")
        .ui.big.fluid.input
          input(type="password", placeholder="Password")

        hr

        .ui.big.green.button Sign in


      include partials/_scripts
