- var authorised = false
- var page = 'gate'

doctype html
html(lang="en")
  title = "$PAGE_TITLE"
  include partials/_head
  body(class = page)
    include partials/_nav
    .wrap
      include partials/_col-main-left
      .col-main-right(role="main")
        .ui.huge.breadcrumb
          .section Please select your account type

        .content
          .ui.two.column.middle.aligned.grid.stackable.boundary.account-type
            .center.aligned.column
              h4 Agent / Reseller
              p For agents or retail outlets who purchase our products for the purpose of re-selling to their clients.
              a(href="gate-register-2-reseller.html").ui.button.cta Reseller / Agent

            .ui.vertical.divider Or

            .center.aligned.column
              h4 Corporate User / End User
              p For members who buy our products for own self/ own company use.
              a(href="gate-register-2-corporate.html").ui.button.cta Corporate / End user


      include partials/_footer
      include partials/_scripts
