- var authorised = false
- var page = 'gate'

doctype html
html(lang="en")
  title = "$PAGE_TITLE"
  include partials/_head
  body(class = page)
    include partials/_nav
    .wrap
      include partials/_col-main-left
      .col-main-right(role="main")
        .ui.huge.breadcrumb
          .section Register with Ideahouse

        .content
          h2 Please select your account type
          hr
          a(href="gate-register-2-reseller.html").ui.button Reseller / Agent
          a(href="gate-register-2-corporate.html").ui.button Corporate / End user

        //- .content
        //-   p All items marked asterisk(&#42;) are required.
        //-   form.ui.form
        //-     fieldset
        //-       h2 Please select your account type
        //-       .inline.fields
        //-         label.required.radio Sign up as a
        //-         .field.radio
        //-           .ui.radio.checkbox(id="membership-reseller")
        //-             input(type="radio", name="membership")
        //-             label Reseller / Agent
        //-         .field.radio
        //-           .ui.radio.checkbox(id="membership-corporate")
        //-             input(type="radio", name="membership")
        //-             label Corporate / End user
        //-     hr
        //-     .ui.error.message
        //-     button.ui.submit.button(type="submit") {Check Validation}
        //-     a(href="gate-register-2-reseller.html").ui.button.cta Next


      include partials/_footer
      include partials/_scripts
