- var authorised = false
- var page = 'gate'

doctype html
html(lang="en")
  title= "$PAGE_TITLE"
  include partials/_head
  body(class = page)
    include partials/_nav
    .wrap
      include partials/_col-main-left
      .col-main-right(role="main")
        .ui.huge.breadcrumb
          .section Reset my password

        .content
          p
            | Create a new password for $USER_EMAIL
            br
            | Passwords must be 6&ndash;12 characters
          hr

          label.input New Password
          .ui.big.input
            input(id='password' name='password', type='password', placeholder='Password', pattern=".{6,12}", required)
          label.input Retype password
          .ui.big.input
            input(id='password' name='password', type='password', placeholder='Retype password', pattern=".{6,12}", required)
          hr
          a(href="gate-signin.html").ui.button Reset my password


      include partials/_footer
      include partials/_scripts
