- var authorised = false
- var page = 'gate'

doctype html
html(lang="en")
  title = "$PAGE_TITLE"
  include partials/_head
  body(class = page)
    include partials/_nav
    .wrap
      include partials/_col-main-left
      .col-main-right(role="main")
        .ui.huge.breadcrumb
          .section Register with Ideahouse

        .content
          h2 Please select your account type
          hr
          a(href="gate-register-2-reseller.html").ui.button Reseller / Agent
          a(href="gate-register-2-corporate.html").ui.button Corporate / End user

      include partials/_footer
      include partials/_scripts
