- var authorised = false
- var page = 'gate'

doctype html
html(lang="en")
  include partials/_head
  body.gate
    include partials/_brand
    .wrap
      include partials/_nav
      .main(role="main")
        .ui.huge.breadcrumb
          .section Register with Ideahouse

        .content
          p All items marked asterisk(&#42;) are required.
          hr
          form.ui.form
            fieldset
              h2 Please select your account type
              .inline.fields
                label.required.radio Sign up as a
                .field.radio
                  .ui.radio.checkbox(id="membership-reseller")
                    input(type="radio", name="membership", required)
                    label Reseller / Agent
                .field.radio
                  .ui.radio.checkbox(id="membership-corporate")
                    input(type="radio", name="membership", required)
                    label Corporate / End user

            hr
            a(href="gate-register-2-reseller.html").ui.submit.large.cta.button Next
            .ui.error.message


      include partials/_footer
      include partials/_scripts
