- var authorised = true
- var page = 'search-results'

html
  include partials/_head
  body
    include partials/_brand
    .wrap
      include partials/_nav
      .main
        .ui.huge.breadcrumb
          .section View history

        table.ui.sortable.celled.table.unstackable
            thead
                tr
                  th.sorted.descending Name
                  th Date
              tbody
                tr
                  td Umbra 21 Inches Tri Fold Open / Close Automatic Umbrella
                  td 10/05/2015
                tr
                  td Baron Metal Ball Pen (Black Ink)
                  td 22/05/2015
                tr
                  td International Travel Dual USB Adaptor W/ PU Pouch
                  td 05/06/2015
                tr
                  td Dual USB Adaptor W/ PU Pouch
                  td 09/09/2015


              tfoot
                tr
                  th(colspan='4')
                    .ui.pagination.menu
                      a.icon.item
                        i.left.chevron.icon
                      a.item 1
                      a.item 2
                      a.item 3
                      a.item 4
                      a.icon.item
                        i.right.chevron.icon


      include partials/_footer
      include partials/_scripts
