- var authorised = true
- var page = 'new'

doctype html
html(lang="en")
  title = "$PAGE_TITLE"
  include partials/_head
  body(class = page)
    include partials/_nav
    .wrap
      include partials/_col-main-left
      .col-main-right(role="main")
        .ui.huge.breadcrumb
          .section New items
        .tiles
          .ui.card.new
            .image
              img.product(alt="" src="img/product/1809.jpg")
            .content
              .description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio magni aperiam minima quos impedit iusto fugit eius, repudiandae, maiores itaque error! Minus nihil, vitae provident animi dolores culpa expedita mollitia.
            .extra.content
              small 1809

          .ui.card.new
            .image
              img.product(alt="" src="img/product/1910.jpg")
            .content
              .description Cambridge - Push Action Ball Plastic Pen (Black Ink)
            .extra.content
              small 1910

          .ui.card.new
            .image
              img.product(alt="" src="img/product/2009.jpg")
            .content
              .description Speedo - Push Action Ball Plastic Pen (Black Ink)
            .extra.content
              small 2009

          .ui.card.new
            .image
              img.product(alt="" src="img/product/2106.jpg")
            .content
              .description Admiral - Push Action Ball Plastic Pen (Black Ink)
            .extra.content
              small 2106

          .ui.card.new
            .image
              img.product(alt="" src="img/product/2109.jpg")
            .content
              .description Swan - Twist Action Ball Plastic Pen (Black Ink
            .extra.content
              small 2106

          .ui.card.new
            .image
              img.product(alt="" src="img/product/2111.jpg")
            .content
              .description Galaxy - Push Action Ball Plastic Pen (Black Ink)
            .extra.content
              small 2111


      include partials/_footer
      include partials/_scripts
