- var authorised = true
- var page = 'onbaord'

doctype html
html(lang="en")
  title = "$PAGE_TITLE"
  include partials/_head
  body(class = page)
    include partials/_nav
    .wrap
      include partials/_col-main-left
      .col-main-right(role="main")
        .ui.huge.breadcrumb
          .section Who can become an Ideahouse Agent and register an account?

        p Just about anyone, whether you are a working professional, a business owner, housewife, student, retired person can request an account to become an Ideahouse Agent.

        ol
          li
            = "Registration is absolutely "
            strong FREE
            = "."

          li 24 hours, 7 days access to online prices and stock availability by colours updated daily.

          li Useful tools like QUICK SEARCH and ADVANCED SEARCH to help you to find the items you are looking for from our entire products range.

          li CALCULATOR to instantly show you your bottom line and E-QUOTE to service your clients with a professional email quotation with product photos attachments.

          li Download our current price list and coming soon, our e-catalogue from the website.

          li Free Artwork and no MOQ (minimum order quantity).

          li Free delivery within the Klang Valley area for order value exceeding RM2,000.00.

          li Regular email and sms updates on new products arrivals and special promotion offers.

        p Plus much more useful information on pen terminology, printing services and don't forget Ideahouse’s Loyalty Redemption Points that you can collect on every order.

        p As a reward to loyal Agents/Resellers being with us for a minimum of 12 months or more, we have the Preferred Agent Program.

        p This is a quantity-price level based on total orders value for a period of 12 months.  There are 5 different Agents levels and each have their respective credit period,  free samples and free delivery benefits.

        p Read more here on the Preferred Agent Program.

        p The Ideahouse blog contents consist of extended information on products,  new arrivals,  video feeds of product demonstration and news related to the industry.

        p Our Banner links at www.ideahouse.com.my provides you with links to websites of established suppliers of other related products.

        p As a premiums Agent, a timely response to your client’s request is vital.

        p With all the necessary information on price, stock, colours readily available from our website, you will have the advantage of submitting your quotation accurately and speedily.  This will impress your clients and therefore increase the chances of you getting the deal.  So Hurry and act now! Register for FREE.

        p You will definitely have the added Ideahouse edge in today’s fast paced business world.

        p Our friendly and experienced customer service officers are only a phone call away to answer any queries you may have at our HOTLINE: +603 6275 4648.

        p Alternatively, email to sales@ideahouse.com.my. We are also equipped with Skype ID's and Whatsapp instant messaging.






      include partials/_footer
      include partials/_scripts



