- var authorised = true
- var page = 'pap'

doctype html
html(lang="en")
  title = "$PAGE_TITLE"
  include partials/_head
  body(class = page)
    include partials/_nav
    .wrap
      include partials/_col-main-left
      .col-main-right(role="main" id="qStart")
        .ui.huge.breadcrumb
          .section Preferred Agents Program

        p As you rise up the rank in levels, the benefits in pricings, credit and delivery terms increases. Evaluation of level is based on last 12 months total sales order. Free Sample and Free Dispatch credit will be granted base on total sales evaluation in strong previous calendar year (Jan-Dec). Credit will be provided on 1st January with one year validity.

        hr

        img(src="img/editorial/pap-level-full.jpg").pap
        a(href="img/editorial/pap-level-full.jpg").ui.tiny.button.basic Download hi-res image

        hr

        p Free Dispatch/Dispatch credit are only applicable in the selected areas below:

        ul.split
          li Ampang
          li Bangsar
          li Bandar Baru Selayang
          li Bandar Sri Damansara
          li Bandar Utama
          li Batu Caves
          li Bukit Damansara
          li Bukit Kiara
          li Cheras
          li Damansara Jaya
          li Damansara Town Centre
          li Damansara Utama
          li Gombak
          li Kepong
          li Kota Damansara
          li Kuala Lumpur
          li Lembah Beringin
          li Maluri
          li Miharja
          li Petaling Jaya
          li Puchong
          li Pudu
          li Segambut
          li Serdang
          li Seri Kembangan
          li Setapak
          li Sentul
          li Sri Hartamas
          li Sri Petaling
          li Sungai Buloh
          li Shah Alam
          li Subang Jaya
          li Sungai Besi
          li Taman Melawati
          li Taman Tun Dr Ismail
          li USJ
          li Wangsa Maju


        hr
        p If first time purchasing (or at 0 level), agents are still eligible for the free dispatch as long as their orders reaches RM2000.
        h3 Dispatch rate

        table.dispatch
          thead
            tr
              th(rowspan="3") Weight of samples or goods (kg)
              th(colspan="7") Distance between our office and the drop off location (km)
            tr
              th 0-5km
              th 5-10km
              th 10-15km
              th 15km-20km
              th 25km-30km
              th 30km-35km
              th 35km-40km
            tr
              th(colspan="7") Dispatch rate are in RM
          tbody
            tr
              td
                = "<1 kg"
              td 5.00
              td 5.80
              td 6.60
              td 7.40
              td 8.20
              td 9.00
              td 9.80

            tr
              td
                = "1-3 kg"
              td 6.50
              td 7.30
              td 8.10
              td 8.90
              td 9.70
              td 10.50
              td 11.30

            tr
              td 3-5 kg
              td 8.00
              td 8.80
              td 9.60
              td 10.40
              td 11.20
              td 12.00
              td 12.80
            tr
              td 5-7 kg
              td 9.50
              td 10.30
              td 11.10
              td 11.90
              td 12.70
              td 13.50
              td 14.30
            tr
              td 7-9 kg
              td 11.00
              td 11.80
              td 12.60
              td 13.40
              td 14.20
              td 15.00
              td 15.80
            tr
              td 9-11 kg
              td 12.50
              td 13.30
              td 14.10
              td 14.90
              td 15.70
              td 16.50
              td 17.30
            tr
              td 11-13kg
              td 14.00
              td 14.80
              td 15.60
              td 16.40
              td 17.20
              td 18.00
              td 18.80
            tr
              td 13-15kg
              td 15.50
              td 16.30
              td 17.10
              td 17.90
              td 18.70
              td 19.50
              td 20.30
            tr
              td 15-17kg
              td 17.00
              td 17.80
              td 18.60
              td 19.40
              td 20.20
              td 21.00
              td 21.80
            tr
              td 17-19kg
              td 18.50
              td 19.30
              td 20.10
              td 20.90
              td 21.70
              td 22.50
              td 23.30
            tr
              td 19-21kg
              td 20.00
              td 20.80
              td 21.60
              td 22.40
              td 23.20
              td 24.00
              td 24.80
            tr
              td 21-23kg
              td 21.50
              td 22.30
              td 23.10
              td 23.90
              td 24.70
              td 25.50
              td 26.30
            tr
              td 23-25kg
              td 23.00
              td 23.80
              td 24.60
              td 25.40
              td 26.20
              td 27.00
              td 27.80
            tr
              td 25-27kg
              td 24.50
              td 25.30
              td 26.10
              td 26.90
              td 27.70
              td 28.50
              td 29.30
            tr
              td 27-29kg
              td 26.00
              td 26.80
              td 27.60
              td 28.40
              td 29.20
              td 30.00
              td 30.80
            tr
              td 30-31kg
              td 27.50
              td 28.30
              td 29.10
              td 29.90
              td 30.70
              td 31.50
              td 32.30


        a(href="img/editorial/pap-table.jpg").ui.tiny.button.basic Download hi-res image

        hr

        p Orders to be delivered outside of the selected areas will be charged according to standard courier rates.


      include partials/_footer
      include partials/_scripts
