- var authorised = true
- var page = 'pap'

doctype html
html(lang="en")
  title= "$PAGE_TITLE"
  include partials/_head
  body(class = page)
    include partials/_nav
    .wrap
      include partials/_col-main-left
      .col-main-right(role="main" id="qStart")
        .ui.huge.breadcrumb
          .section Why be part of of our Preferred Agent Program?
        
        .content.authorised-show
            h3
              = "Download Preferred Agent Program information as a PDF"
            hr

            a(href="store/ideahouse-pap.pdf")
              .ui.cta.tiny.button
                i.icon.download
                = "Download PDF"
        
        .pap-diagram
          section
            h3 Benefits &amp; Rewards

            .flex
              .benefits
                .counter
                  p 1
                h4 More savings! Enjoy better pricing!
                p With our programme, you’re entitled to skip past price points correspondingto your level.
                img(src="img/pap/benefits-coins.png")

              .benefits
                .counter
                  p 2
                h4 Gain credit terms up to 45 Days
                p Give yourself extra time. Take advantage of our credit extention programme offered to our leveled. Preferred Agents.
                img(src="img/pap/benefits-cash-arrow.png")

            .flex
              .benefits
                .counter
                  p 3
                h4 Claim up to RM 500 worth of samples
                p Receive credit and claim samples at no additional charge! Credit value given correlates to your level and is issued yearly in January.
                img(src="img/pap/benefits-parcel-sparkle.png")

              .benefits
                .counter
                  p 4
                h4 Free Delivery
                p Delivery is free for all orders above RM2000. The higher your level, the lower the minimum order required. Applicable for deliveries to Klang Valley area only.
                img(src="img/pap/benefits-van-move.png")
                small Terms and Conditions apply.



          section
            h3 How to determine your level
            p Delivery and credit terms are determined in an on-going basis, according to the last 12 months of your Total Sales Order. For sample credit, your total sales order is tabulated base on the annual year (Jan-Dec) and is granted on January.
            p Upon achieving a level and any further changes of your level, you will receive an automatic e-mail notification. Alternatively, you may call your sales representative to check with. 


            table.rows
              thead
                tr
                  th Levels
                  th
                    = "Total Sales Order"
                    br 
                    small (last 12 months)
              tbody
                tr
                  td.grey.left.relative
                    label.node
                      span.n1 1
                  td.grey.right RM10,000
                tr
                  td.grey.left.relative
                    label.node
                      span.n2 2
                  td.grey.right RM25,000
                tr
                  td.grey.left.relative
                    label.node
                      span.n3 3
                  td.grey.right RM40,000
                tr
                  td.grey.left.relative 
                    label.node
                      span.n4 4
                  td.grey.right RM60,000
                tr
                  td.grey.left.relative 
                    label.node
                      span.n5 5
                  td.grey.right RM80,000


          section
            h3 Levels allow you to skip price points according to your level

            .row-nodes
              label.node
                span.n1 &times;1
              label.node
                span.n2 &times;2
              label.node
                span.n3 &times;3
              label.node
                span.n4 &times;4
              label.node
                span.n5 &times;5

            hr
            h4 Example 1

            table
              thead.underline
                tr
                  th(colspan="2") Price table
                tr
                  th Quantity
                  th Price

              tbody
                tr
                  td.relative
                    label.node
                      span.selected 10

                    .joiner
                      .left.across
                        .pipe

                      .right
                        .left.down
                          .pipe
                        .right

                  td.grey.relative 9.50

                tr
                  td.relative 20
                    .joiner
                      .left
                      .right
                        .left.updown
                          .pipe
                            .pipe
                        .right.across
                          .pipe

                  td.green.relative 9.30
                    label.node
                      span.n1.hover 1
                tr
                  td.relative 30
                    .joiner
                      .left
                      .right
                        .left.updown
                          .pipe
                            .pipe
                        .right.across
                          .pipe

                  td.purple.relative 9.20
                    label.node
                      span.n2.hover 2
                tr
                  td.relative 40
                    .joiner
                      .left
                      .right
                        .left.updown
                          .pipe
                            .pipe
                        .right.across
                          .pipe

                  td.blue.relative 9.00
                    label.node
                      span.n3.hover 3

                tr
                  td.relative 50
                    .joiner
                      .left
                      .right
                        .left.updown
                          .pipe
                            .pipe
                        .right.across
                          .pipe

                  td.orange.relative 8.90
                    label.node
                      span.n4.hover 4

                tr
                  td.relative 60
                    .joiner
                      .left
                      .right
                        .left.up
                          .pipe
                        .right.across
                          .pipe

                  td.red.relative 8.70
                    label.node
                      span.n5.hover 5

                tr
                  td.relative 70
                  td 8.50

                tr
                  td.relative 80
                  td 8.30

                tr
                  td.relative 90
                  td 8.10

                tr
                  td.relative 100
                  td 7.90

              tfoot
                td(colspan="2") A level 1 agent skips 1 price point for the purchase of 10 pacrossuct pieces , whereas an agent at level 4 skips 4 points from the original price point.

            hr
            h4 Example 2

            table
              thead.underline
                tr
                  th(colspan="2") Price table
                tr
                  th Quantity
                  th Price

              tbody

                tr
                  td.relative 10
                  td 9.50

                tr
                  td.relative 20
                  td 9.30

                tr
                  td.relative 30
                  td 9.20


                tr
                  td.relative
                    label.node
                      span.selected 40
                    
                    .joiner
                      .left.across
                        .pipe

                      .right
                        .left.down
                          .pipe
                        .right


                  td.grey.relative 9.00

                tr
                  td.relative 50
                    .joiner
                      .left
                      .right
                        .left.updown
                          .pipe
                            .pipe
                        .right.across
                          .pipe

                  td.green.relative 8.90
                    label.node
                      span.n1.hover 1

                tr
                  td.relative 60
                    .joiner
                      .left
                      .right
                        .left.updown
                          .pipe
                            .pipe
                        .right.across
                          .pipe


                  td.purple.relative 8.70
                    label.node
                      span.n2.hover 2
                

                tr
                  td.relative 70
                    .joiner
                      .left
                      .right
                        .left.updown
                          .pipe
                            .pipe
                        .right.across
                          .pipe


                  td.blue.relative 8.50
                    label.node
                      span.n3.hover 3

                tr
                  td.relative 80
                    .joiner
                      .left
                      .right
                        .left.updown
                          .pipe
                            .pipe
                        .right.across
                          .pipe

                  td.orange.relative 8.30
                    label.node
                      span.n4.hover 4

                tr
                  td.relative 90
                    .joiner
                      .left
                      .right
                        .left.up
                          .pipe
                        .right.across
                          .pipe

                  td.red.relative 8.10
                    label.node
                      span.n5.hover 5


                tr
                  td.relative 100
                  td 7.90

              tfoot
                td(colspan="2") The price point skips correspond to the quantity selected


          section
            h3 Benefits &amp; Rewards reference chart
            table.columns.rewards
              thead
                tr
                  th
                  th
                    label.node
                      span.n1 1
                  th 
                    label.node
                      span.n2 2
                  th
                    label.node
                      span.n3 3
                  th
                    label.node
                      span.n4 4
                  th
                    label.node
                      span.n5 5
              tbody
                tr
                  td.left 
                    img(src="img/pap/benefits-van.png")
                    p Free delivery*

                  td.grey.top RM1000
                  td.grey.top RM500
                  td.grey.top RM250
                  td.grey.top RM150
                  td.grey.top RM100
                tr
                  td.left 

                    img(src="img/pap/benefits-cash.png")
                    p Credit terms**

                  td.grey —
                  td.grey 14 Days
                  td.grey 21 Days
                  td.grey 30 Days
                  td.grey 45 Days
                tr
                  td.left
                    img(src="img/pap/benefits-parcel.png")
                    p Sample credit***
                  td.grey.bottom RM100
                  td.grey.bottom RM200
                  td.grey.bottom RM300
                  td.grey.bottom RM400
                  td.grey.bottom RM500
              tfoot
                tr
                  td(colspan="6")
                    = "* Minimum order needed."
                    br
                    = "** Upon application and approval."
                    br
                    = "*** Sample credit is based on Past Total annual sales (Jan—Dec). It is issued on January and valid for 1 year."


        .content.authorised-show
            h3
              = "Download Preferred Agent Program information as a PDF"
            hr

            a(href="store/ideahouse-pap.pdf")
              .ui.cta.tiny.button
                i.icon.download
                = "Download PDF"


        small Ideahouse reserves the sole and exclusive right at its sole discretion to vary, delete, amend or modify any of these terms and conditions of the program. These terms and conditions may be modified, amended or varied by Ideahouse by providing a written notice or by any other mode that Ideahouse shall deem fit. Ideahouse shall not be liable for any and all loss or damage suffered or incurred by the Preferred Agent Program as a direct or indirect result of the cancellation, variation, amendment, termination or suspension.








      include partials/_footer
      include partials/_scripts
