- var authorised = true
- var page = 'pap'

doctype html
html(lang="en")
  title = "$PAGE_TITLE"
  include partials/_head
  body(class = page)
    include partials/_nav
    .wrap
      include partials/_col-main-left
      .col-main-right(role="main" id="qStart")
        .ui.huge.breadcrumb
          .section Preferred Agents Program

        p As you rise up the rank in levels, the benefits in pricings, credit and delivery terms increases. Evaluation of level is based on last 12 months total sales order. Free Sample and Free Dispatch credit will be granted base on total sales evaluation in previous calendar year (Jan-Dec). Credit will be provided on 1st January with one year validity. Free Dispatch/Dispatch credit are only applicable in the selected areas below:


        .pap-scale
          .pap-col.pap-col-1
            .inner
              .head
                img(src="img/logo-level.svg")
                h5 1
              p.cost
                = "RM10,000 "
                span.to to
                = " RM25,000"

              p.terms Past 12 months, total sales order
              p.terms Credit terms not applicable
              p.terms Credit terms* 21 days
              p.terms Free dispatch (Selected areas only)
              p.terms
                = "Free sample: RM100"
                br
                = "Free dispatch: RM100"
              p.terms Based on last calendar year (Jan-Dec).Validity of credit: 1 year.

          .pap-col.pap-col-2
            .inner
              .head
                img(src="img/logo-level.svg")
                h5 1
              p.cost
                = "RM10,000 "
                span.to to
                = " RM25,000"

              p.terms Past 12 months, total sales order
              p.terms Credit terms not applicable
              p.terms Credit terms* 21 days
              p.terms Free dispatch (Selected areas only)
              p.terms
                = "Free sample: RM100"
                br
                = "Free dispatch: RM100"
              p.terms Based on last calendar year (Jan-Dec).Validity of credit: 1 year.

          .pap-col.pap-col-3
            .inner
              .head
                img(src="img/logo-level.svg")
                h5 1
              p.cost
                = "RM10,000 "
                span.to to
                = " RM25,000"

              p.terms Past 12 months, total sales order
              p.terms Credit terms not applicable
              p.terms Credit terms* 21 days
              p.terms Free dispatch (Selected areas only)
              p.terms
                = "Free sample: RM100"
                br
                = "Free dispatch: RM100"
              p.terms Based on last calendar year (Jan-Dec).Validity of credit: 1 year.

          .pap-col.pap-col-4
            .inner
              .head
                img(src="img/logo-level.svg")
                h5 1
              p.cost
                = "RM10,000 "
                span.to to
                = " RM25,000"

              p.terms Past 12 months, total sales order
              p.terms Credit terms not applicable
              p.terms Credit terms* 21 days
              p.terms Free dispatch (Selected areas only)
              p.terms
                = "Free sample: RM100"
                br
                = "Free dispatch: RM100"
              p.terms Based on last calendar year (Jan-Dec).Validity of credit: 1 year.

          .pap-col.pap-col-5
            .inner
              .head
                img(src="img/logo-level.svg")
                h5 1
              p.cost
                = "RM10,000 "
                span.to to
                = " RM25,000"

              p.terms Past 12 months, total sales order
              p.terms Credit terms not applicable
              p.terms Credit terms* 21 days
              p.terms Free dispatch (Selected areas only)
              p.terms
                = "Free sample: RM100"
                br
                = "Free dispatch: RM100"
              p.terms Based on last calendar year (Jan-Dec).Validity of credit: 1 year.

        hr
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

        ul.split
          li Ampang
          li Bangsar
          li Bandar Baru Selayang
          li Bandar Sri Damansara
          li Bandar Utama
          li Batu Caves
          li Bukit Damansara
          li Bukit Kiara
          li Cheras
          li Damansara Jaya
          li Damansara Town Centre
          li Damansara Utama
          li Gombak
          li Kepong
          li Kota Damansara
          li Kuala Lumpur
          li Lembah Beringin
          li Maluri
          li Miharja
          li Petaling Jaya
          li Puchong
          li Pudu
          li Segambut
          li Serdang
          li Seri Kembangan
          li Setapak
          li Sentul
          li Sri Hartamas
          li Sri Petaling
          li Sungai Buloh
          li Shah Alam
          li Subang Jaya
          li Sungai Besi
          li Taman Melawati
          li Taman Tun Dr Ismail
          li USJ
          li Wangsa Maju






      include partials/_footer
      include partials/_scripts
