- var authorised = true
- var page = 'clearance'

html
  include partials/_head
  body
    include partials/_brand
    .wrap
      include partials/_nav
      .main
        .ui.huge.breadcrumb
          .section Clearance items


        .tiles
          .ui.card.popular
            .image
              img.product(src="img/product/1809.jpg")
            .content
              .description Phoenix-Push Action Ball Plastic Pen (Black Ink)
            .extra.content
              small 1809

          .ui.card.popular
            .image
              img.product(src="img/product/1910.jpg")
            .content
              .description Cambridge - Push Action Ball Plastic Pen (Black Ink)
            .extra.content
              small 1910

          .ui.card.popular
            .image
              img.product(src="img/product/2009.jpg")
            .content
              .description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis aspernatur quas doloremque explicabo, repellendus nesciunt assumenda fugiat. Saepe voluptate optio adipisci est quod error hic ex eius, quas laudantium accusamus.
            .extra.content
              small 2009

          .ui.card.popular
            .image
              img.product(src="img/product/2009.jpg")
            .content
              .description Speedo - Push Action Ball Plastic Pen (Black Ink)
            .extra.content
              small 2009

          .ui.card.popular
            .image
              img.product(src="img/product/1910.jpg")
            .content
              .description Cambridge
            .extra.content
              small 1910




      include partials/_footer
      include partials/_scripts
