- var authorised = true
- var page = 'product'

doctype html
html(lang="en")
  title= "$PAGE_TITLE"
  include partials/_head
  body(class = page)
    include partials/_nav
    .wrap
      include partials/_col-main-left
      .col-main-right(role="main")


        .ui.huge.breadcrumb
          a(href="search-advanced.html" aria-label="Return to Advanced Search").section Advanced Search
          i.right.angle.icon.divider
          a(href="search-results.html").section Search results for ‘omega’ (22)
          i.right.angle.icon.divider
          .section(id="product-title") OMEGA - Ball Pen (Black Ink)


        .boundary.no-select.flex
          .grid-half-set
            button.ui.labeled.icon.tiny.cycle.button
              i.left.arrow.icon
              p AMBASSADOR Ball Pen (Black Ink)
          .grid-half-set
            button.ui.right.labeled.icon.tiny.cycle.button
              i.right.arrow.icon
              p BARON Ball Pen (Black Ink)

        hr

        .label.offer
        .boundary.no-select
          .product-actions.authorised-show
            .ui.icon.button.bookmark.cta(id="bookmark-toggle")
              i.empty.white.heart.icon
            .ui.icon.button.download.cta
              i.cloud.download.icon

          .carousel.carousel-product.tooltip(title="Click for the next image in this set.")
            .div
              img(alt="Image of $PRODUCT_NAME" src="img/product/product-1.jpg", class="carousel-hero product-1")

            //- .div
              img(alt="Image of $PRODUCT_NAME" src="img/product/product-2.jpg", class="carousel-hero product-2")
            //- .div
              //- img(alt="Image of $PRODUCT_NAME" src="img/product/product-3.jpg", class="carousel-hero product-3")


        hr

        .ui.three.item.menu
          a.item.active(class="btn-details") Product
          a.item(class="btn-stock") Stock
          a.item(class="btn-price") Price

        .details
          table.ui.celled.table.unstackable.tablesorter
            tbody
              tr
                td Description
                td Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore omnis explicabo est delectus sapiente corporis nobis quos ab consequuntur ad eum assumenda dolorem quibusdam architecto voluptatem maxime aperiam recusandae, iure.
              tr
                td Category
                td Pens
              tr
                td Sub Category
                td Metal Pens
              tr
                td Code No.
                td 903B
              tr
                td Base Material
                td Metals
              tr
                td Ink Type
                td Ball Point
              tr
                td Nib Size (mm)
                td 1.0
              tr
                td Refill Color
                td Black
              tr
                td Surface Finishing
                td Metalic
              tr
                td Units per Carton
                td 500
              tr
                td Units per Inner Box
                td 50
              tr
                td Weight per Carton (g)
                td 2g
              tr
                td Weight per Unit (g)
                td 20g
              tr
                td Dimension (mm)
                td 142(L) x 13(D)
              tr
                td Carton Size (mm)
                td 460 (L) x 280 (W) x 185 (H)
              tr
                td Print Area 1
                td Barrel : 40mm (L) x 8mm (W)
              tr
                td Print Area 2
                td Clip : 30mm (L) x 8mm (W)
              tr
                td Print Type
                td A2 - Pad Print Metal
              tr
                td Packing Details
                td Each in opp bag
            tfoot
              tr
                td(colspan="2")
                  | NOTES
                  br
                  | Parker Refill Compatible
                  br
                  | Material: Brass;
                  br
                  | These executive promotional metal pens are elegantly durable. Logo will have silver chrome finishing if by laser.

        .stock
          table.ui.tablesorter.celled.table.unstackable.product
            thead
              tr
                th.swatch Colour
                th.available.active Available
                th.reserved Reserved
                th.arrival Expected Arrival

            tbody
              tr
                td.swatch.pictured (As pictured)
                td 0
                td 0
                td
              tr
                td.swatch.black Black
                td 53
                td 1
                td
                  = "10000"
                  span.due
                    = "10/12/15"
              tr
                td.swatch.white White
                td 0
                td 0
                td
                  = "10000"
                  span.due
                    = "10/12/15"
              tr
                td.swatch.grey Grey
                td 0
                td 05
                td
              tr
                td.swatch.blue Blue
                td 11431
                td 1001
                td
              tr
                td.swatch.lightBlue Light Blue
                td 0
                td 0
                td
              tr
                td.swatch.red Red
                td 5429
                td 1
                td
                  = "50000"
                  span.due
                    = "10/12/15"
              tr
                td.swatch.maroon Maroon
                td 0
                td 0
                td
              tr
                td.swatch.green Green
                td 743
                td 0
                td
                  = "10000"
                  span.due
                    = "10/12/15"
              tr
                td.swatch.brightGreen Bright Green
                td 0
                td 0
                td
              tr
                td.swatch.yellow Yellow
                td 6869
                td 0
                td
              tr
                td.swatch.purple Purple
                td 0
                td 0
                td
              tr
                td.swatch.pink Pink
                td 6387
                td 0
                td
              tr
                td.swatch.orange Orange
                td 10
                td 0
                td
                  = "10000"
                  span.due
                    = "10/12/15"
              tr
                td.swatch.turquoise Turquoise
                td 10
                td 0
                td
              tr
                td.swatch.silver Silver
                td 5279
                td 0
                td
              tr
                td.swatch.gold Gold
                td 0
                td 0
                td
              tr
                td.swatch.glow Glow in the dark
                td 0
                td 0
                td
              tr
                td.swatch.wood Wood
                td 0
                td 0
                td
              tr
                td.swatch.beige Beige
                td 0
                td 0
                td
            tfoot
              tr
                td Total
                td 15083
                td 1003
                td

        .price
          .ui.info.message.authorised-hide
            .header To view this item's prices, please sign in. If you don't have an account with Ideahouse, register now for a free account.
            .ui.button Sign in
            .ui.button Register

          table.ui.celled.table.price.unstackable.authorised-show
            thead
              tr.switch
                th(colspan="3").rl Currency
                  .ui.selection.dropdown.currency
                    .text MYR
                    i.dropdown.icon
                    .menu
                      .item MYR
                      .item USD
                      .item SGD
              tr.titles
                th QTY
                th Agent
                th Corporate

            tbody
              tr
                td 100
                td 1.63
                td 0.63
              tr
                td 200
                td 1.62
                td 0.62
              tr
                td 300
                td 1.61
                td 0.61
              tr
                td 500
                td 1.60
                td 0.60
              tr
                td 1000
                td 1.59
                td 0.59
              tr
                td 2000
                td 1.58
                td 0.58
              tr
                td 3000
                td 1.57
                td 0.57
              tr
                td 5000
                td 1.56
                td 0.56
              tr
                td 7000
                td 1.55
                td 0.55
              tr
                td 10000
                td 1.54
                td 0.54
              tr
                td 15000
                td 1.53
                td 0.53
              tr
                td 20000
                td 1.52
                td 0.52
              tr
                td 30000
                td 1.51
                td 0.51
              tr
                td 50000
                td 1.50
                td 0.50
              tr
                td 70000
                td 1.49
                td 0.49
              tr
                td 100000
                td 1.48
                td 0.48



      include partials/_footer
      include partials/_scripts
