- var authorised = true
- var page = 'product'

doctype html
html(lang="en")
  title = "$PAGE_TITLE"
  include partials/_head
  body(class = page)
    include partials/_brand
    .wrap
      include partials/_nav

      .col-main-right(role="main")
        .ui.huge.breadcrumb
          a.section(href="browse.html") Browse Categories

          i.right.angle.icon.divider
          a.section(href="category.html") Metal Pens


          i.right.angle.icon.divider
          .section Umbra 21 Inches Tri Fold Open / Close Automatic Umbrella

        .ui.two.column.grid.cycle
          .row
            .column
              button.ui.labeled.icon.tiny.cycle.button
                i.left.arrow.icon
                p Previous item
            .column.right.aligned
              button.ui.right.labeled.icon.tiny.cycle.button
                i.right.arrow.icon
                p Next item

        hr
        .product-wrap.no-select
          .your-class
            .div
              img(alt="Image of $PRODUCT_NAME" src="img/product-1.jpg", class="product-hero product-1")
            .div
              img(alt="Image of $PRODUCT_NAME" src="img/product-2.jpg", class="product-hero product-2")
            .div
              img(alt="Image of $PRODUCT_NAME" src="img/product-3.jpg", class="product-hero product-3")

          .ui.labeled.icon.black.button.download Download
            i.cloud.download.icon


        .ui.three.item.menu
          a.item.active(class="btn-details") Product
          a.item(class="btn-stock") Stock
          a.item(class="btn-price") Price

        table.ui.celled.table.unstackable.details
          tbody
            tr
              td Category
              td Pens
            tr
              td Sub Category
              td Metal Pens
            tr
              td Code No.
              td 903B

            tr
              td Base material
              td Metals

            tr
              td Ink Type
              td Ball Point
            tr
              td Nib Size (mm)
              td 1.0
            tr
              td Refill Color
              td Black
            tr
              td Surface Finishing
              td Metalic
            tr
              td Units Per Carton
              td 500
            tr
              td Units Per inner box
              td 50
            tr
              td Weight per carton (Kg)
              td 20 kg
            tr
              td Dimension (mm)
              td 142(L) x 13(D)
            tr
              td Carton size (mm)
              td 460 (L) x 280 (W) x 185 (H)
            tr
              td Print area 1
              td Barrel : 40mm (L) x 8mm (W)
            tr
              td Print area 2
              td Clip : 30mm (L) x 8mm (W)
            tr
              td Print Type
              td A2 - Pad Print Metal
            tr
              td Packing details
              td Each in opp bag
          tfoot
            tr
              td(colspan="2")
                | NOTES
                br
                | Parker Refill Compatible
                br
                | Material: Brass;
                br
                | These executive promotional metal pens are elegantly durable. Logo will have silver chrome finishing if by laser.

        table.ui.sortable.celled.table.unstackable.stock
          thead
            tr
              th.sorted.descending Colour
              th Available
              th Reserved
              th Total

          tbody
            tr
              td.swatch.pictured —As pictured
              td 10
              td 05
              td 05
            tr
              td.swatch.black Black
              td 10
              td 05
              td 200
            tr
              td.swatch.white White
              td 10
              td 05
              td 200
            tr
              td.swatch.grey Grey
              td 10
              td 05
              td 200
            tr
              td.swatch.blue Blue
              td 10
              td 05
              td 200
            tr
              td.swatch.lightBlue Light Blue
              td 10
              td 05
              td 200
            tr
              td.swatch.red Red
              td 10
              td 05
              td 200
            tr
              td.swatch.maroon Maroon
              td 10
              td 05
              td 200
            tr
              td.swatch.green Green
              td 10
              td 05
              td 200
            tr
              td.swatch.brightGreen Bright Green
              td 10
              td 05
              td 200
            tr
              td.swatch.yellow Yellow
              td 10
              td 05
              td 200
            tr
              td.swatch.purple Purple
              td 10
              td 05
              td 200
            tr
              td.swatch.pink Pink
              td 108
              td 05
              td 110
            tr
              td.swatch.orange Orange
              td 10
              td 05
              td 200
            tr
              td.swatch.turquoise Turquoise
              td 10
              td 05
              td 200
            tr
              td.swatch.silver Silver
              td 10
              td 05
              td 200
            tr
              td.swatch.gold Gold
              td 10
              td 05
              td 200
            tr
              td.swatch.glow Glow in the dark
              td 10
              td 05
              td 200
            tr
              td.swatch.wood Wood
              td 108
              td 05
              td 10
            tr
              td.swatch.beige Beige
              td 10
              td 05
              td 200
          tfoot
            tr
              td Total
              td 5181
              td 5181
              td 5181

        table.ui.sortable.celled.table.unstackable.price
          thead
            tr
              th QTY
              th Price
          tbody
            tr
              td 200
              td 440
            tr
              td 200
              td 440
            tr
              td 200
              td 440
            tr
              td 200
              td 440
            tr
              td 200
              td 440
            tr
              td 200
              td 440
            tr
              td 200
              td 440
            tr
              td 200
              td 440
            tr
              td 200
              td 440
            tr
              td 200
              td 440
            tr
              td 200
              td 440
            tr
              td 200
              td 440
            tr
              td 500
              td 400
            tr
              td 200
              td 440
            tr
              td 200
              td 440
            tr
              td 200
              td 440
            tr
              td 200
              td 440
            tr
              td 200
              td 440
            tr
              td 110
              td 400
            tr
              td 200
              td 440


      include partials/_footer
      include partials/_scripts
