- var authorised = true
- var page = 'product'

html
  include partials/_head
  body
    include partials/_brand
    .wrap
      include partials/_nav

      .main
        .ui.huge.breadcrumb
          a.section Quick Search
          i.right.angle.icon.divider
          .section Umbra 21 Inches Tri Fold Open / Close Automatic Umbrella


        .product-wrap
          img(src="img/product.png", class="product-hero")
          .ui.labeled.icon.black.button.download Download
            i.cloud.download.icon

        .ui.two.item.menu
          a.item(class="btn-details") Product Details
          a.item.active(class="btn-stock") Stock Details

        table.ui.celled.table.unstackable.details
          tbody
            tr
              td Category
              td Other cool gifts
            tr
              td Sub Category
              td Umbra Umbrellas
            tr
              td Code No.
              td UM01
            tr
              td Surface Finishing
              td Solid Matt 60
            tr
              td Dimensions (mm)
              td 310(L) &times; 310(W) &times; 500(H)




        table.ui.sortable.celled.table.unstackable.stock
          thead
            tr
              th.sorted.descending Colour
              th Available
              th Reserved
              th QTY
              th Price (MYR)

          tbody
            tr
              td BL
              td 10
              td 05
              td 200
              td 440

            tr
              td WH
              td 110
              td 05
              td 150
              td 430

            tr
              td GR
              td 820
              td 05
              td 175
              td 420
            tr
              td B
              td 120
              td 05
              td 175
              td 410
            tr
              td LB
              td 108
              td 05
              td 110
              td 400



      .ui.tab(data-tab="overview")
        P Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit repudiandae doloremque reiciendis consequatur, nam ipsa rem eveniet minus a iste perspiciatis? Nesciunt quo aliquam porro soluta nulla, rerum distinctio aut.

      .ui.tab(data-tab="test")
        P Should have sans-serif font family (opinionated)



      include partials/_footer
      include partials/_scripts
