- var authorised = true
- var page = 'product'

doctype html
html(lang="en")
  title = "$PAGE_TITLE"
  include partials/_head
  body(class = page)
    include partials/_nav
    .wrap
      include partials/_col-main-left
      .col-main-right(role="main")
        .ui.huge.breadcrumb
          a.section(href="index.html") Browse Categories

          i.right.angle.icon.divider
          a.section(href="category.html") Metal Pens

          i.right.angle.icon.divider
          .section(id="product-title") OMEGA - Ball Pen (Black Ink)

        .boundary.no-select
          .grid-half-set
            button.ui.labeled.icon.tiny.cycle.button
              i.left.arrow.icon
              p AMBASSADOR Ball Pen (Black Ink)
          .grid-half-set
            button.ui.right.labeled.icon.tiny.cycle.button
              i.right.arrow.icon
              p BARON Ball Pen (Black Ink)

        hr

        .boundary.no-select
          .product-actions
            .ui.icon.button.bookmark.cta(id="bookmark-toggle")
              i.empty.white.heart.icon
            .ui.icon.button.download.cta
              i.cloud.download.icon

          .product-carousel.tooltip(title="Click for the next image in this set.")
            .div
              img(alt="Image of $PRODUCT_NAME" src="img/product-1.jpg", class="product-hero product-1")
            .div
              img(alt="Image of $PRODUCT_NAME" src="img/product-2.jpg", class="product-hero product-2")
            .div
              img(alt="Image of $PRODUCT_NAME" src="img/product-3.jpg", class="product-hero product-3")

        hr

        .ui.three.item.menu
          a.item.active(class="btn-details") Product
          a.item(class="btn-stock") Stock
          a.item(class="btn-price") Price

        table.ui.celled.table.unstackable.details
          tbody
            tr
              td Category
              td Pens
            tr
              td Sub Category
              td Metal Pens
            tr
              td Code No.
              td 903B

            tr
              td Base material
              td Metals

            tr
              td Ink Type
              td Ball Point
            tr
              td Nib Size (mm)
              td 1.0
            tr
              td Refill Color
              td Black
            tr
              td Surface Finishing
              td Metalic
            tr
              td Units Per Carton
              td 500
            tr
              td Units Per inner box
              td 50
            tr
              td Weight per carton (Kg)
              td 20 kg
            tr
              td Dimension (mm)
              td 142(L) x 13(D)
            tr
              td Carton size (mm)
              td 460 (L) x 280 (W) x 185 (H)
            tr
              td Print area 1
              td Barrel : 40mm (L) x 8mm (W)
            tr
              td Print area 2
              td Clip : 30mm (L) x 8mm (W)
            tr
              td Print Type
              td A2 - Pad Print Metal
            tr
              td Packing details
              td Each in opp bag
          tfoot
            tr
              td(colspan="2")
                | NOTES
                br
                | Parker Refill Compatible
                br
                | Material: Brass;
                br
                | These executive promotional metal pens are elegantly durable. Logo will have silver chrome finishing if by laser.

        table.ui.sortable.celled.table.unstackable.stock
          thead
            tr
              th.sorted.descending Colour
              th Available
              th Reserved
              th Expected

          tbody
            tr
              td.swatch.pictured (As pictured)
              td 0
              td 0
              td
            tr
              td.swatch.black Black
              td 53
              td 1
              td
                = "10000"
                span.due
                  = "10/12/15"
            tr
              td.swatch.white White
              td 0
              td 0
              td
                = "10000"
                span.due
                  = "10/12/15"
            tr
              td.swatch.grey Grey
              td 0
              td 05
              td
            tr
              td.swatch.blue Blue
              td 7598
              td 1001
              td
            tr
              td.swatch.lightBlue Light Blue
              td 0
              td 0
              td
            tr
              td.swatch.red Red
              td 7432
              td 1
              td
                = "5000"
                span.due
                  = "10/12/15"
            tr
              td.swatch.maroon Maroon
              td 0
              td 0
              td
            tr
              td.swatch.green Green
              td 0
              td 0
              td
                = "10000"
                span.due
                  = "10/12/15"
            tr
              td.swatch.brightGreen Bright Green
              td 0
              td 0
              td
            tr
              td.swatch.yellow Yellow
              td 0
              td 0
              td
            tr
              td.swatch.purple Purple
              td 0
              td 0
              td
            tr
              td.swatch.pink Pink
              td 0
              td 0
              td
            tr
              td.swatch.orange Orange
              td 10
              td 0
              td
                = "10000"
                span.due
                  = "10/12/15"
            tr
              td.swatch.turquoise Turquoise
              td 10
              td 0
              td
            tr
              td.swatch.silver Silver
              td 10
              td 0
              td
            tr
              td.swatch.gold Gold
              td 0
              td 0
              td
            tr
              td.swatch.glow Glow in the dark
              td 0
              td 0
              td
            tr
              td.swatch.wood Wood
              td 0
              td 0
              td
            tr
              td.swatch.beige Beige
              td 0
              td 0
              td
          tfoot
            tr
              td Total
              td 15083
              td 1003
              td

        table.ui.celled.table.unstackable.price
          if authorised
            thead
              tr
                th QTY
                th Price
                  .ui.selection.dropdown.currency
                    .text MYR
                    i.dropdown.icon
                    .menu
                      .item MYR
                      .item USD
                      .item SGD
                      .item AUD
            tbody
              tr
                td 100
                td 0.630
              tr
                td 200
                td 0.620
              tr
                td 300
                td 0.610
              tr
                td 500
                td 0.600
              tr
                td 1000
                td 0.590
              tr
                td 2000
                td 0.580
              tr
                td 3000
                td 0.570
              tr
                td 5000
                td 0.560
              tr
                td 7000
                td 0.550
              tr
                td 10000
                td 0.540
              tr
                td 15000
                td 0.530
              tr
                td 20000
                td 0.520
              tr
                td 30000
                td 0.510
              tr
                td 50000
                td 0.500
              tr
                td 70000
                td 0.490
              tr
                td 100000
                td 0.480

          else
            .ui.info.message
              .header To view this item's prices, please sign in. If you don't have an account with Ideahouse, register now for a free account.
              .ui.button Sign in
              .ui.button Register


      include partials/_footer
      include partials/_scripts
