- var authorised = true
- var page = 'profile'

doctype html
html(lang="en")
  title = "$PAGE_TITLE"
  include partials/_head
  body(class = page)
    include partials/_nav
    .wrap
      include partials/_col-main-left
      .col-main-right(role="main")
        .ui.huge.breadcrumb
          .section.personalise Your profile

        .ui.top.attached.tabular.menu
          a.item.active(data-tab='first') My Details
          a.item(data-tab='second') Password
          a.item(data-tab='third') Notices

        .ui.bottom.attached.tab.segment.active(data-tab='first')
          form.ui.form(id="form-profile-details")
            fieldset
              .inline.field
                label.static Login address
                p.email-static $EMAIL_ADDRESS
                
              .inline.field
                label.static Name
                p.email-static $NAME

              .inline.field
                label.static Account Type
                p.email-static $ACCOUNT_TYPE

              .inline.field
                label.static Company Name
                p.email-static $COMPANY_NAME

              .inline.field
                label.static Country
                p.email-static $COUNTRY

              .inline.field
                label.static State
                p.email-static $STATE

              .inline.field
                label.static Mobile Number
                p.email-static $NUMBER

   
        .ui.bottom.attached.tab.segment(data-tab='second')
          form.ui.form
            fieldset
              .inline.field
                label.static Current Password
                input(class='password' name='password', type='password', placeholder='Password', pattern=".{6,12}")
              .inline.field
                label.static New Password
                input(class='password' name='passwordNew', type='password', placeholder='New Password', pattern=".{6,12}")
              .inline.field
                label.static Retype Password
                input(class='password' name='passwordNewRetype', type='password', placeholder='Retype Password', pattern=".{6,12}")
                small.support 6&ndash;12 characters

            hr
            .ui.error.message
            a(href="#" aria-label="Update Details" id="profile-details").ui.small.cta.button Update Details
            a(href="#" aria-label="Cancel").ui.small.basic.button Cancel
            hr
            button.ui.submit.small.button(type="submit" id="submityo") {Check Validation}



        .ui.bottom.attached.tab.segment(data-tab='third')
          form.ui.form
            fieldset
              h4 I would like to receive new products update, promotional offers, clearance sales and newsletters. Select options below.
              .inline.field
                .ui.checkbox
                  input(type='checkbox', name='checkbox' checked="checked")
                  label By email
                .ui.checkbox
                  input(type='checkbox', name='checkbox' checked="checked")
                  label Whatsapp

            hr
            .ui.error.message

            a(href="#" aria-label="Update Notices" id="profile-notices").ui.small.cta.button Update Notices
            a(href="#" aria-label="Cancel").ui.small.basic.button Cancel
            hr
            button.ui.submit.small.button(type="submit") {Check Validation}

      include partials/_footer
      include partials/_scripts
