- var authorised = false
- var page = 'register'

html
  include partials/_head
  body
    .wrap.register
      img(src="img/logo-grey.png" class="ih-logo")
      h1
        = "Sign up to Ideahouse"

      p All items marked asterisk(&#42;) are required.

      form.ui.form
        fieldset

          h2 Please select your membership

          .inline.fields
            label.required.radio Sign up as a
            .field.radio
              .ui.radio.checkbox(id="membership-reseller")
                input(type="radio", name="membership", required)
                label Reseller / Dealer
            .field.radio
              .ui.radio.checkbox(id="membership-corporate")
                input(type="radio", name="membership", required)
                label Corporate / End user

        a(href="register-2.html").ui.submit.green.button Next
        .ui.error.message

      include partials/_scripts
