- var authorised = false
- var page = 'register'

html
  include partials/_head
  body
    .wrap.register
      img(src="img/logo-grey.png" class="ih-logo")
      .thank-you
        h1 Thank you for registering with Ideahouse as a Corporate/End user
        hr
        p You will quialify for a RM50 voucher credit when you make your purchase with us within 3 months. You will receive an email from us within 24 working hours once your registration is approved.
        p Should you need to get in touch with us in the meantime, please contact James on [...]

      include partials/_scripts




