- var authorised = true
- var page = 'search-advanced'


html
  include partials/_head

  body
    include partials/_brand
    .wrap
      include partials/_nav

      .main
        .ui.huge.breadcrumb
          .section Advanced Search

        .content
          label.input Category
          .ui.large.fluid.multiple.search.selection.dropdown
            input(type="hidden", name="receipt")
            i.dropdown.icon
            .default.text Category
            .menu
              .item(data-value="category-1", data-text="Plastic Pens")
                img.ui.mini.avatar.image(src="img/cat-1.png")
                p.label Plastic Pens
              .item(data-value="category-2", data-text="Metal Pens")
                img.ui.mini.avatar.image(src="img/cat-2.png")
                p.label Metal Pens
              .item(data-value="category-2", data-text="Metal Pens")
                img.ui.mini.avatar.image(src="img/cat-3.png")
                p.label Multi Function Pens
              .item(data-value="category-2", data-text="Metal Pens")
                img.ui.mini.avatar.image(src="img/cat-4.png")
                p.label Pen Sets
              .item(data-value="category-2", data-text="Metal Pens")
                img.ui.mini.avatar.image(src="img/cat-5.png")
                p.label Eco-Friendly Gifts
          hr
          label.input Colour

          button.ui.circular.red.icon.button
          button.ui.circular.blue.icon.button
          button.ui.circular.orange.icon.button
          button.ui.circular.green.icon.button

          hr
          label.input Unit Quantity

          .ui.large.input.as
            input(type="number", placeholder="Quantity")
          .ui.large.buttons.increment
            button.ui.button &minus;
            .or
            button.ui.button &plus;


          hr
          label.input Unit Price Range (MYR)

          .ui.large.input.as
            input(type="number", placeholder="From")
          .ui.large.buttons.increment
            button.ui.button &minus;
            .or
            button.ui.button &plus;

          .ui.large.input.as
            input(type="number", placeholder="To")
          .ui.large.buttons.increment
            button.ui.button &minus;
            .or
            button.ui.button &plus;



          hr
          a(href="search-results.html").ui.icon.black.button Search now


      include partials/_footer
      include partials/_scripts
