- var authorised = true
- var page = 'search'

doctype html
html(lang="en")
  title = "$PAGE_TITLE"
  include partials/_head
  body(class = page)
    include partials/_nav
    .wrap
      .col-main-right(role="main")
        .ui.huge.breadcrumb
          a(aria-label="Return to Quick Search").section Quick Search
          i.right.angle.icon.divider
          .section Results (8)

        .content
          h3 Search for products using its name, description or code.
          .ui.huge.fluid.input.focus
            input(type="text", placeholder="Search for product ...")
          hr
          a(href='search-results-none.html' aria-label="Search again").ui.icon.button Search again

        h3.pad Search results for $SEARCH_QUERY
        P.pad SORT BY $PRODUCT_NAME, $CODE, $PRICE
        .tiles
          a(href="product.html" aria-label="View &PRODUCT_NAME").ui.card
            .image
              img.product(alt="" src="img/product/UM02.jpg")
            .content
              .description Umbra 24
            .extra.content
              small UM02
          a(href="product.html" aria-label="View &PRODUCT_NAME").ui.card
            .image
              img.product(alt="" src="img/product/005.jpg")
            .content
              .description Minute - Push Action Ball Plastic Pen (Blue Ink)
            .extra.content
              small 005
          a(href="product.html" aria-label="View &PRODUCT_NAME").ui.card
            .image
              img.product(alt="" src="img/product/1809.jpg")
            .content
              .description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni voluptatum esse delectus eos sequi ullam nihil maiores, doloribus dolorum natus, ipsa possimus. Repellendus maiores, nobis voluptates esse maxime dolores ducimus.
            .extra.content
              small 1809

          .ui.card
            .image
              img.product(alt="" src="img/product/1910.jpg")
            .content
              .description Cambridge - Push Action Ball Plastic Pen (Black Ink)
            .extra.content
              small 1910
          .ui.card
            .image
              img.product(alt="" src="img/product/1926.jpg")
            .content
              .description Ringo - Push Action Ball Plastic Pen (Black Ink)
            .extra.content
              small 1926
          .ui.card
            .image
              img.product(alt="" src="img/product/2009.jpg")
            .content
              .description Speedo - Push Action Ball Plastic Pen (Black Ink)
            .extra.content
              small 2009


          .ui.card
            .image
              img.product(alt="" src="img/product/2106.jpg")
            .content
              .description Admiral - Push Action Ball Plastic Pen (Black Ink)
            .extra.content
              small 2106
          .ui.card
            .image
              img.product(alt="" src="img/product/2109.jpg")
            .content
              .description Swan - Twist Action Ball Plastic Pen (Black Ink
            .extra.content
              small 2106
          .ui.card
            .image
              img.product(alt="" src="img/product/2111.jpg")
            .content
              .description Galaxy - Push Action Ball Plastic Pen (Black Ink)
            .extra.content
              small 2111






      include partials/_footer
      include partials/_scripts
