- var authorised = true
- var page = 'search-quick'

html
  include partials/_head

  body
    include partials/_brand
    .wrap
      include partials/_nav

      .main
        .ui.huge.breadcrumb
          .section Quick Search


        .ui.huge.input.focus
          input(type="text", placeholder="Search...")

        hr

        .ui.icon.black.button Search now

      include partials/_footer
      include partials/_scripts
