- var authorised = true
- var page = 'search-quick'

html
  include partials/_head
  body
    include partials/_brand
    .wrap
      include partials/_nav

      .main
        .ui.huge.breadcrumb
          .section Quick Search

        .content
          h2 Search for products using its name, description, price or code.
          .ui.huge.fluid.input.focus
            input(type="text", placeholder="Search for product ...")
          hr
          a(href='search-quick-results.html').ui.icon.green.button Search now

      include partials/_footer
      include partials/_scripts
