- var authorised = true
- var page = 'search'

doctype html
html(lang="en")
  include partials/_head
  body
    include partials/_brand
    .wrap
      include partials/_nav

      .main(role="main")
        .ui.huge.breadcrumb
          .section Quick Search

        .content
          h2 Search for products using its name, description or code.
          .ui.huge.fluid.input.focus
            input(type="text", placeholder="Search for product ...")
          hr
          a(href='search-quick-results.html').ui.cta.button Search now

      include partials/_footer
      include partials/_scripts
