- var authorised = true
- var page = 'search'


html
  include partials/_head

  body
    include partials/_brand
    .wrap
      include partials/_nav

      .main
        .ui.huge.breadcrumb
          .section Advanced Search

        .content
          label.input Category
          .ui.large.fluid.search.selection.dropdown
            input(type="hidden", name="receipt")
            i.dropdown.icon
            .default.text Category
            .menu
              .item(data-value="category-1", data-text="Plastic Pens")
                img.ui.mini.avatar.image(src="img/cat-1.png")
                p.label Plastic Pens
              .item(data-value="category-2", data-text="Metal Pens")
                img.ui.mini.avatar.image(src="img/cat-2.png")
                p.label Metal Pens
              .item(data-value="category-2", data-text="Metal Pens")
                img.ui.mini.avatar.image(src="img/cat-3.png")
                p.label Multi Function Pens
              .item(data-value="category-2", data-text="Metal Pens")
                img.ui.mini.avatar.image(src="img/cat-4.png")
                p.label Pen Sets
              .item(data-value="category-2", data-text="Metal Pens")
                img.ui.mini.avatar.image(src="img/cat-5.png")
                p.label Eco-Friendly Gifts
          hr
          label.input Colour


          .ui.big.checkbox
            input(type="checkbox" tabindex="0" class="hidden")
            label Specify colour

          .swatch
            .unit
              button.ui.circular.black.icon.button
              small Black
            .unit
              button.ui.circular.white.icon.button
              small White
            .unit
              button.ui.circular.grey.icon.button
              small Grey
            .unit
              button.ui.circular.blue.icon.button
              small Blue
            .unit
              button.ui.circular.lightBlue.icon.button
              small Light Blue
            .unit
              button.ui.circular.red.icon.button
              small Red
            .unit
              button.ui.circular.maroon.icon.button
              small Maroon
            .unit
              button.ui.circular.green.icon.button
              small Green
            .unit
              button.ui.circular.brightGreen.icon.button
              small Bright Green
            .unit
              button.ui.circular.yellow.icon.button
              small Yellow
            .unit
              button.ui.circular.purple.icon.button
              small Purple
            .unit
              button.ui.circular.pink.icon.button
              small Pink
            .unit
              button.ui.circular.orange.icon.button
              small Orange
            .unit
              button.ui.circular.teal.icon.button
              small Turquoise
            .unit
              button.ui.circular.silver.icon.button
              small Silver


          hr
          label.input Unit Quantity

          .ui.large.input.as
            input(type="number", placeholder="Quantity")
          .ui.large.buttons.increment
            button.ui.button &minus;
            .or
            button.ui.button &plus;


          hr
          label.input Unit Price Range (MYR)

          .ui.large.input.as
            input(type="number", placeholder="From")
          .ui.large.buttons.increment
            button.ui.button &minus;
            .or
            button.ui.button &plus;

          .ui.large.input.as
            input(type="number", placeholder="To")
          .ui.large.buttons.increment
            button.ui.button &minus;
            .or
            button.ui.button &plus;



          hr
          a(href="search-results.html").ui.icon.green.button Search now


      include partials/_footer
      include partials/_scripts
