- var authorised = true
- var page = 'search'

doctype html
html(lang="en")
  title= "$PAGE_TITLE"
  include partials/_head
  body(class = page)
    include partials/_nav
    .wrap
      include partials/_col-main-left
      .col-main-right(role="main")
        .ui.huge.breadcrumb
          a.section Quick Search
          i.right.angle.icon.divider
          .section No results found

        .ui.info.message
          i.close.icon
          .header No results found. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
          .ui.button Modify search
          .ui.button Try advanced search

      include partials/_footer
      include partials/_scripts
