.brand(role="banner")
  .wrap
    .nav
      img(src="img/logo-white.png" class="ih-logo")

    if authorised
      unless page == 'search'
        .main
          .ui.search.quick(role="search")
            .ui.icon.input
              input.prompt(type="text" placeholder="Quick search...")
              i.search.icon
            .results
