//- .brand(role="banner")
//-   .wrap
//-     .col-main-left
//-       img(src="img/logo-white.png" class="ih-logo" alt="Ideahouse")
//-     if authorised
//-       unless page == 'search'
//-         .col-main-right
//-           .ui.search.quick(role="search")
//-             .ui.icon.input
//-               input.prompt(type="text" placeholder="Quick search...")
//-               i.search.icon
//-             .results
