.col-main-left(id="nav_bar")
  .menu(role="navigation")
    a(href="browse.html" aria-label="Browse item categories").item.browse
      i.grid.layout.icon
      = "Browse Categories"
    a(href="search-advanced.html" aria-label="Search for an item").item.search-ad
      i.icon.search
      = "Advanced Search"
    hr
    a(href="new.html" aria-label="View new items").item.new
      i.lightning.icon
      = "New"
    a(href="clearance.html" aria-label="View clearance items").item.clearance
      i.legal.icon
      = "Clearance"
    a(href="offer.html" aria-label="View offer items").item.offer
      i.star.icon
      = "Offer"
    a(href="popular.html" aria-label="View popular items").item.popular
      i.thumbs.up.icon
      = "Popular"
    hr
    a(href="download.html" aria-label="Download print catalogue").item.download
      = "Download"
      br
      = "2015 Price List"
      br
      = "or Catalogue"

  ul.details
    li
      a(href="about.html").item About Ideahouse
    li
      a(href="onboard.html").item Become a Gifts Agent
    li
      a(href="faq.html").item FAQ
    li
      a(href="contact.html").item Contact Us
    li
      a(href="conditions.html").item Conditions of Use

  ul.details
    li &copy; Ideahouse Corp. S/B
    li t: +603 6275 4648
    li f: +603 6272 1648
    li
      a(href="mailto:sales@ideahouse.com.my?subject=inquiry_via_ideahouse.com.my-site") e: sales@ideahouse.com.my
    li Kuala Lumpur, Malaysia

  ul.social
    li
      a(href="https://www.facebook.com/ideahouse.malaysia", target="_new" title="Follow us on Facebook")
        i(alt="").facebook.icon
    li
      a(href="https://www.instagram.com/ideahousegifts" target="_new" title="Follow us on instagram")
        i(alt="").instagram.icon
