ul.links
  li
    a(href="about.html").item About Ideahouse
  li
    a(href="pap.html").item Preferred Agents Program
  li
    a(href="imprint.html").item Imprint Guide
  li
    a(href="faq.html").item FAQ
  li
    a(href="contact.html").item Contact Us
  li
    a(href="conditions.html").item Conditions of Use

ul.contact
  li &copy; Ideahouse Corp. S/B
  li t: +603 6275 4648
  li f: +603 6272 1648
  li
    a(href="mailto:sales@ideahouse.com.my?subject=inquiry_via_ideahouse.com.my-site") e: sales@ideahouse.com.my
  li Kuala Lumpur, Malaysia

ul.social
  li
    a(href="https://www.facebook.com/ideahouse.malaysia", target="_new" title="Follow us on Facebook")
      i(alt="").facebook.icon
  li
    a(href="https://www.instagram.com/ideahousegifts" target="_new" title="Follow us on instagram")
      i(alt="").instagram.icon
