footer
  ul.details
    li
      a(href="about.html").item About Ideahouse
    li
      a(href="onboard.html").item Become a Gifts Agent &amp; Reseller
    li
      a(href="faq.html").item FAQ
    li
      a(href="contact.html").item Contact Us
    li
      a(href="conditions.html").item Conditions of Use


  ul.details
    li &copy; Ideahouse Corp. S/B
    li t: +603 6275 4648
    li f: +603 6272 1648
    li
      a(href="mailto:sales@ideahouse.com.my?subject=inquiry_via_ideahouse.com.my-site") e: sales@ideahouse.com.my
    li Kuala Lumpur, Malaysia

  ul.social
    li
      a(href="https://www.facebook.com/ideahouse.malaysia", target="_new")
        i(alt="Follow us on Facebook").facebook.icon
    li
      a(href="http://www.google.com/+ideahouse" target="_new")
        i(alt="Follow us on Google+").google.plus.icon
    li
      a(href="http://twitter.com/ideahouse" target="_new")
        i(alt="Follow us on twitter").twitter.icon
    li
      a(href="http://www.ideahouse.com.my/icons/linkedin.jpg", target="_new")
        i(alt="Add us on LinkedIn").linkedin.icon
    li
      a(href="https://www.youtube.com/user/ideahousenews/" target="_new")
        i(alt="View our YouTube videos").google.youtube.icon
    li
      a(href="http://twitter.com/ideahouse" target="_new")
        i(alt="Follow us on twitter").twitter.icon
    li
      a(href="https://www.pinterest.com/ideahousenews/" target="_new")
        i(alt="Follow us on pinterest").pinterest.icon
    li
      a(href="https://www.instagram.com/ideahousegifts" target="_new")
        i(alt="Follow us on instagram").instagram.icon
    li
      a(href="https://www.flickr.com/photos/ideahouse" target="_new")
        i(alt="View our flickr photos").flickr.icon
    li
      a(href="https://foursquare.com/ideahouse" target="_new")
        i(alt="View us on foursquare").foursquare.icon

