ul.secondary
  li
    a(href="about.html" aria-label="About Ideahouse").item About Ideahouse
  li
    a(href="pap.html" aria-label="Preferred Agents Program").item Preferred Agents Program
  li
    a(href="imprint.html" aria-label="Imprint Guide").item Imprint Guide
  li
    a(href="faq.html" aria-label="FAQ").item FAQ
  li
    a(href="contact.html" aria-label="Contact Us").item Contact Us
  li
    a(href="conditions.html" aria-label="Conditions of Use").item Conditions of Use


ul.secondary.contact
  li &copy; Ideahouse Corp. S/B
  li t: +603 6275 4648
  li f: +603 6272 1648
  li
    = "e: "
    a(href="mailto:sales@ideahouse.com.my?subject=inquiry_via_ideahouse.com.my-site") sales@ideahouse.com.my
  li Kuala Lumpur, Malaysia

ul.social
  li
    a(href="https://www.facebook.com/ideahouse.malaysia", target="_new" title="Follow us on Facebook")
      i(alt="").facebook.icon
  li
    a(href="https://www.instagram.com/ideahousegifts" target="_new" title="Follow us on instagram")
      i(alt="").instagram.icon
