meta(charset='utf-8')
meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")

link(rel='stylesheet', media='screen', href='https://fonts.googleapis.com/css?family=Lato:400,700,700italic,300italic,300,100,100italic,400italic,900,900italic')
link(rel='stylesheet', media='screen', href='css/style.css')

