.ui.dropdown.burger
  .ui.icon.button
    i.sidebar.download.icon
  .menu(role="navigation")
    if authorised
      a(href="browse.html" aria-label="Browse item categories").item
        i.grid.layout.icon
        = "Browse Categories"
      a(href="search-advanced.html" aria-label="Search for an item").item
        i.icon.search
        = "Advanced Search"
      hr
      a(href="new.html" aria-label="View new items").item
        i.lightning.icon
        = "New"
      a(href="clearance.html" aria-label="View clearance items").item
        i.legal.icon
        = "Clearance"
      a(href="offer.html" aria-label="View offer items").item
        i.star.icon
        = "Offer"
      a(href="popular.html" aria-label="View popular items").item
        i.thumbs.up.icon
        = "Popular"

      hr

      a(href="download.html" aria-label="Download print catalogue").item.download
        = "Download"
        br
        = "2015 Price List"
        br
        = "or Catalogue"

    else
      a(href="gate-signin.html" aria-label="Sign in to your account" ).item Sign in
      a(href="gate-register-1.html" aria-label="Register with Ideahouse" ).item Register with Ideahouse
