.nav
  .ui.two.column.grid
    .row
      .column
        .ui.dropdown.burger
          .ui.labeled.icon.button IdeaHouse
            i.sidebar.download.icon

          .menu
            if authorised

              a(href="browse.html").item
                i.grid.layout.icon
                = "Browse Categories"

              a(href="search-advanced.html").item
                i.icon.search
                = "Advanced Search"

              //- a(href="search-quick.html").item
                //- i.icon.search
                //- = "Quick Search"

              hr

              a(href="new.html").item
                i.lightning.icon
                = "New"
              a(href="clearance.html").item
                i.legal.icon
                = "Clearance"
              a(href="offer.html").item
                i.star.icon
                = "Offer"
              a(href="popular.html").item
                i.thumbs.up.icon
                = "Popular"

              hr

              a(href="bookmarks.html").item
                i.heart.icon
                = "Bookmarks"

              a(href="history.html").item
                i.history.icon
                = "View History"

              a(href="profile.html").item
                i.setting.icon
                = "My Profile"

              //- hr
              a(href="download.html").item.download
                = "Download"
                br
                = "2015 Price List"
                br
                = "or Catalogue"

            else
              a(href="gate-signin.html").item Sign in
              a(href="gate-register-1.html").item Register with Ideahouse

      .column.right.aligned
        if page == 'product'
          .ui.labeled.icon.button.bookmark Bookmark
            i.remove.bookmark.icon

        if page == 'history'
          .ui.labeled.icon.button.clear Clear history
            i.remove.icon


  if authorised
    unless page == 'search'
      .ui.column.grid.mobile-quick-search
        .row
          .column
            .ui.fluid.search.quick
              .ui.icon.input
                input.prompt(type="text" placeholder="Quick search...")
                i.search.icon
              .results

