.brand(id="topbar")
  .wrap
    .controls
      section.menu
        .ui.dropdown.burger
          .ui.icon.button
            i.sidebar.download.icon
          include _menu-items

      section.logo
        a(href="index.html" aria-label="Browse item categories")
          img(src="img/brand/logo-full.svg" class="ih-logo" alt="Ideahouse")

      section.profile

        // To be shown when signed in, hidden when signed out
        
        .authorised-show
          .ui.icon.top.right.pointing.dropdown.button
            i.user.icon
            .menu
              a(href="profile.html" aria-label="View or edit your profile").item.profile
                i.setting.icon
                span.personalise My Profile
              a(href="bookmarks.html" aria-label="View bookmarked items").item.bookmarks
                i.heart.icon
                = "Bookmarks"
              a(href="history.html" aria-label="View your history").item.history
                i.history.icon
                = "View History"
              hr
              a(href="index.html" aria-label="Sign out of Ideahouse" id="gate-signout").item
                i.sign.out.icon
                = "Sign out"
        

        // To be hidden when signed in, shown when signed out

        .authorised-hide
          a(href="gate-signin.html" aria-label="Sign in to Ideahouse").item.gate
            = "Sign in / up"




    section.search(id="search-snap")
      .ui.fluid.search.quick(role="search")
        .ui.icon.input
          label.hide Quick search
          i.search.icon
          input.prompt(type="text" placeholder="Quick search...")
