.nav
  .ui.two.column.grid
    .row
      .column
        .ui.dropdown.burger
          .ui.labeled.icon.button IdeaHouse
            i.sidebar.download.icon

          .menu
            if authorised
              a(href="search-quick.html").item Quick Search
              a(href="search-advanced.html").item Advanced Search
              a(href="browse.html").item Browse by Category
              hr
              a(href="clearance.html").item Clearance
              a(href="new.html").item New
              a(href="offer.html").item Offer
              a(href="popular.html").item Popular

              hr
              a(href="bookmarks.html").item Bookmarks
              a(href="history.html").item View History
              a(href="gate.html").item Sign out

            else
              a(href="gate.html").item Sign in
              a(href="gate-reminder.html").item Forgot your password?
              a(href="gate-register-1.html").item Register with Ideahouse

      .column.right.aligned
        if page == 'product'
          .ui.labeled.icon.button.bookmark Bookmark
            i.remove.bookmark.icon

        if page == 'history'
          .ui.labeled.icon.button.clear Clear history
            i.remove.icon


  if authorised
    unless page == 'search'
      .ui.column.grid.mobile-quick-search
        .row
          .column
            .ui.fluid.search.quick
              .ui.icon.input
                input.prompt(type="text" placeholder="Quick search...")
                i.search.icon
              .results

