.brand(id="topbar")
  .wrap
    .controls
      section.menu
        .ui.dropdown.burger
          .ui.icon.button
            i.sidebar.download.icon
          include _menu-items

      section.logo
        a(href="index.html" aria-label="Browse item categories")
          img(src="img/brand/logo-full.svg" class="ih-logo" alt="Ideahouse")


      section.profile
        .authorised-show
          .ui.icon.top.right.pointing.dropdown.button
            i.user.icon
            .menu
              a.item.profile(aria-label='View or edit your profile', href='profile.html')
                i.setting.icon
                span.personalise My Profile
              a.item(href='bookmarks.html')
                i.heart.icon
                | Bookmarks
              a.item(href='history.html')
                i.history.icon
                | View History
              hr
              a#gate-signout.item(aria-label='Sign out of Ideahouse', href='index.html')
                i.sign.out.icon
                | Sign out
        .authorised-hide
          a.item.gate(aria-label='Sign in to Ideahouse', href='gate-signin.html') Sign in / up


    section.search(id="search-snap")
      .ui.fluid.search.quick(role="search")
        .ui.icon.input
          label.hide Quick search
          i.search.icon
          input.prompt(type="text" placeholder="Quick search...")
