.brand(id="topbar")
  .wrap

    section.menu
      .ui.dropdown.burger
        .ui.icon.button
          i.sidebar.download.icon
        include _menu-items

    section.logo
      a(href="browse.html" aria-label="Browse item categories")
        img(src="img/logo-full.svg" class="ih-logo" alt="Ideahouse")

    if authorised
      section.profile
        .ui.icon.top.right.pointing.dropdown.button
          i.user.icon
          .menu
            a(href="profile.html" aria-label="View or edit your profile").item.profile
              i.setting.icon
              = "My Profile"
            a(href="bookmarks.html" aria-label="View bookmarked items").item.bookmarks
              i.heart.icon
              = "Liked items"
            a(href="history.html" aria-label="View your history").item.history
              i.history.icon
              = "View History"
            hr
            a(href="gate-signin.html" aria-label="Sign out of Ideahouse").item
              i.sign.out.icon
              = "Sign out"

        //- .ui.icon.top.right.pointing.dropdown.button
        //-   i.search.icon

    else
      section.profile
        a(href="gate-signin.html" aria-label="Sign in to Ideahouse").item.gate
          = "Sign in / up"

    section.search
      .ui.fluid.search.quick(role="search")
        .ui.icon.input
          label.hide Quick search
          i.search.icon
          input.prompt(type="text" placeholder="Quick search...")
