script(src='js/ideahouse.min.js')

Mouseflow
script(type='text/javascript').
  var mfq = mfq || [];
    (function () {
    var mf = document.createElement("script"); mf.type = "text/javascript"; mf.async = true;
    mf.src = "http://cdn.mouseflow.com/projects/a626faab-ba9c-4118-8a88-141e57876540.js";
    document.getElementsByTagName("head")[0].appendChild(mf);
    })();

