hr
  
label.sort Sort by 
.ui.selection.dropdown.sort
  .text Name
  i.dropdown.icon
  .menu
    .item Name
    .item Code
    .item Price

.ui.selection.dropdown.sort
  .text Ascending
  i.dropdown.icon
  .menu
    .item Ascending
    .item Descending

hr