.ui.top.attached.tabular.menu
  margin-top: 0

.ui.item.menu
  box-shadow: none
  background: none
  .item
    background: none
  .item.active
    color: $bg
    background: $brand-blue
    font-weight: 400

.ui.input.as
  margin-right: 10px
  margin-bottom: 10px

.ui.input.gate
  display: block
  margin-bottom: 20px

.ui.input.gate + .ui.input.gate
  margin-top: 5px


    

.ui.modal,
.ui.info.message
  background: $brand-green
  color: white
  padding: 1em

  i.close.icon
    cursor: pointer
    position: absolute
    margin: 0em
    top: 0.3em
    right: 0.3em
    opacity: .8

  .header
    font-weight: 400
    color: white
    padding: 0 30px 20px 0
    width: 100%

    a
      color: white
      border-bottom: 2px solid white
      &:hover
        color: white
        background: $brand-blue

  .ui.button
    display: inline-table
    background: none
    color: white
    border: 2px solid white
    font-weight: 400
    margin-right: 1.5rem

    &:hover
      background: white
      color: $brand-green
      
  .ui.button + .ui.button
    margin-left: -0.8rem


.ui.modal
  .header
    font-size: 1rem

    padding-top:  0 !important
    padding-left: 0 !important
    padding-right: 2em !important
    padding-bottom: 2em !important
    
    background: none !important
    border:     none !important
    box-shadow: none !important
  
  >.close
    color: white !important



.ui.search.selection.dropdown
  .ui.avatar.image
    border-radius: 1px
  p.label
    display: inline-block

.ui.styled.accordion,
.ui.styled.accordion .accordion
  border-radius: 0
  background: none
  .title.active,
  .content.active
    background: white !important

  .content
    padding: 0

    p, h4
      padding: 1.2rem
      margin: 0
      
    p + p
      padding-top: 0

    table
      border-right: 0
      border-left: 0
      border-radius: 0
      
  .title
    color: $copy
  .title:hover
    background-color: white

.search-advanced
  .inline.fields .field.radio
    width: 50%
    display: inline-block


  