img.team
  width: 100%

img.imprint
  max-width: 100%
  margin: auto
  text-align: center
  margin-bottom: 10px
  &.half
    width: 50%
    display: inline-block

img#lightbox
  z-index: 4
  margin: auto

@media (max-width: $phone-max)
  img#lightbox
    width: 100%

img.editorial1,
img.editorial2
  width: 50%
  float: left

@media (max-width: $phone-max)
  img.editorial1
    width: 100%
  img.editorial2
    display: none