ul.secondary
  color: #333
  padding: 5px
  li
    list-style: none
    opacity: 0.8
  a:hover
    text-decoration: underline
    background: none

ul.contact
  margin-top: 85px
  li
    opacity: 0.7
    

ul.social
  margin: 0
  padding: 0
  li
    list-style: none
    display: inline
    padding: 1px
