body
  .tiles
    width: 100%

    display: flex
    flex-wrap: wrap
    justify-content: flex-start 

    .ui.card
      align-self: flex-start 
      width: 25%
      box-shadow: none
      border: 1px solid $bg
      margin: 0

      &:hover
        transform: none
        border: 1px solid #ccc
        z-index: 2 !important
      .image
        background: none
      .content
        padding: 7px
        .description
          font-size: 13px
          height: 3em
          overflow: hidden
          line-height: 1.22em
      .extra.content
        line-height: 15px
        padding: 5px 7px
        min-height: 3em !important
        
      &.bookmark
        transition: all 400ms ease
        .remove
          background: none
          text-align: left
          border-bottom: 1px solid rgba(34,36,38,0.1)
          font-size: 16px
          padding: 7px 7px
          &:hover
            &:after
              content: "Remove"
              font-size: 11px
              float: right
              color: #999
        .image
          background: none
          img
            width: 100%
            padding: 2px 0
        .content
          margin: 0
          border-top: 1px solid rgba(34,36,38,.1)
          border-radius: 0

      &.fadeAway
        opacity: 0

    &.browse
      .ui.card
        &:nth-child(12n+1),
        &:nth-child(12n+2),
        &:nth-child(12n+3),
        &:nth-child(12n+4),
          .image
            background: #f4c95b
        &:nth-child(12n+5),
        &:nth-child(12n+6),
        &:nth-child(12n+7),
        &:nth-child(12n+8)
          .image
            background: $brand-green
        &:nth-child(12n+9),
        &:nth-child(12n+10),
        &:nth-child(12n+11),
        &:nth-child(12n+12)
          .image
            background: #5ec5e2

@media (max-width: 415px)
  body
    .tiles
      &.browse
        .ui.card
          &:nth-child(9n+1),
          &:nth-child(9n+2),
          &:nth-child(9n+3)
            .image
              background: #f4c95b

          &:nth-child(9n+4),
          &:nth-child(9n+5),
          &:nth-child(9n+6)
            .image
              background: $brand-green

          &:nth-child(9n+7),
          &:nth-child(9n+8),
          &:nth-child(9n+9)
            .image
              background: #5ec5e2

      .ui.card
        width: calc(100%/3)
        .content
          .description
            height: 2.4em
