body
  font-family: $lato

  input[type='text'],
  input[type='number'],
  textarea
    font-size: 16px

  hr
    margin: 1rem 0rem
    height: 1px
    background: $grey-border
    border: none

  p, .p
    font-size: 1em
  
  h2, .h2
    font-size: 1.42857143rem
    line-height: 25px
    font-weight: 400

  label.input
    margin: 0 0 8px 0
    display: block
    font-weight: 700

  small
    line-height: 10px

  &.faq
    h3
      margin-top: 20px
      margin-bottom: 8px

.capitalize
  text-transform: capitalize